{{> header }}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

<style>
#startDate,
#endDate {
    display: none;
} 
</style>

<header>
  <!--Navbar -->
  <nav class="mb-1 pt-3 pb-3 navbar navbar-expand-lg navbar-dark special-color">
    <a class="navbar-brand default-color p-3" href="#">{{AppName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <em>Welcome Admin</em>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{{ABS_PATH}}logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
</header>

<main>
  <div class="container-fluid">
  <ul class="nav nav-tabs md-tabs px-5 pt-2 default-color" id="myTabEx" role="tablist">
    <li class="nav-item">
      <a class="nav-link active show text-dark" id="home-tab-ex" data-toggle="tab" href="#home-ex" role="tab" aria-controls="home-ex"
        aria-selected="true">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" id="profile-tab-ex" data-toggle="tab" href="#profile-ex" role="tab" aria-controls="profile-ex"
        aria-selected="false">Tasks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" id="chat-tab" data-toggle="tab" href="#chatTab" role="tab" role="tab" aria-controls="chatTab"
        aria-selected="false">Chat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" id="legal-advice-tab" data-toggle="tab" href="#legalAdviceTab" role="tab" aria-controls="legalAdviceTab"
        aria-selected="false">Legal Advice</a>
    </li>    
  </ul>
  <div class="tab-content pt-5" id="myTabContentEx">
    <div class="tab-pane fade active show" id="home-ex" role="tabpanel" aria-labelledby="home-tab-ex">
        <p class="h5 text-uppercase">overview</p>
        <hr/>
        <div class="row m-5 text-center">
          <div class="col-md-4">
            <div class="border p-5">{{laywers_no}} Laywers</div>
          </div>
          <div class="col-md-4">
            <div class="border p-5">{{cases_no}} Cases</div>
          </div>
          <div class="col-md-4">
            <div class="border p-5">{{clients_no}} Clients</div>
          </div>
      </div>  

      <div class="row justify-content-between">
        <div class="col-4">
          <p class="h4 text-uppercase">Laywers</p>
        </div>

        <div class="col-4">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-default float-right" data-toggle="modal" data-target="#lawyerModal">
            Send Lawyer Invite
          </button>
        </div>
      </div>

      <hr/>

      <!-- Search form -->
      <form class="md-form form-inline mt-0 border p-2 row" id = "filterLawyer">
        <div class="md-form col-md-4">
          <span class="text-muted">Search by Lawyer Name</span>
          <select class="lawyerFilter form-control w-75" id="status" name="status">
            <option selected disabled value = "">Select</option>
            
          </select>          
        </div>

        <div class="md-form col-md-4">
          <span class="text-muted">Search by Status</span>
          <select class="status form-control w-75" id="status" name="status">
            <option selected disabled value = "">Select</option>
            <option value = "pending">Pending</option>
            <option valut = "activated">Activated</option>
          </select>          
        </div>

        <div class="md-form col-md-4">
          <span class="text-muted">Search by Tags</span>
          <select name = "tag" class="tags form-control mt-2 w-75" id="tag" name="tag">
              {{{tags}}}
          </select>
        </div>
    
      </form>



      <table class="table table-bordered tale-striped" id="lawyersTable">
        <thead class="black white-text">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="lawyersTable">

        </tbody>
      </table>

      <div class="text-right">
        <button class="btn btn-default">Next <i class="fa fa-arrow-right"></i></button>
      </div>

    </div>
    <div class="tab-pane fade" id="profile-ex" role="tabpanel" aria-labelledby="profile-tab-ex">
    
    <!--Accordion wrapper-->
    <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">

    <div class="container-fluid pb-5 mb-5">
      <p class="h5 text-uppercase">Tasks</p>
      <hr/>

      <!-- Search Filter -->

    <div class="card mb-3">
      <div class="card-body px-lg-5 pt-0">
          <form id = "filterCases" class="text-center" style="color: #757575;" action="#!">

              <div class="form-row">
                  <div class="col">
                      <div class="md-form">
                        <select name = "status" class="mdb-select form-control lawyerFilter" style="width:100%">
                          <option value="" selected>Search Status</option>
                          <option value="pending">Pending</option>
                          <option value="consulting">Consulting</option>
                      </select>
                      </div>
                  </div>
                  <div class="col">
                    <div class="md-form pt-3">
                      <select name = "status" class="mdb-select form-control statusFilter" style="width:100%">
                        <option value="" selected>Search Status</option>
                        <option value="pending">Pending</option>
                        <option value="consulting">Consulting</option>
                      </select>
                    </div>
                    <div class="col">
                        <div class="md-form pt-3">
                          <span><input type="input" id="startDate" class="datepicker" /></span>
                          <span><input id="endDate" class="datepicker" /></span>
                      </div>
                  </div>
                </div>

                <button class="btn btn-outline-default btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Search</button>
            </form>

        </div>
      </div>

      <table class="table table-bordered tale-striped" id="casesTable">
        <thead class="black white-text">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Client</th>
            <th scope="col">Status</th>
            <th scope="col">Assigned Lawyer</th>
            <th scope="col"> Created At</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody id = "adminCases">
          
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <div class="spinner-grow slow" role="status" id="loadingTasks">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>

    <div class="text-right">
      <button class="btn btn-default" onclick = "prev()"><i class="fa fa-arrow-left"></i> Prev</button>
      <button class="btn btn-default" onclick = "next()">Next <i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
  </div>

   <div class="tab-pane fade" id="chatTab" role="tabpanel" aria-labelledby="chatTab">
    <section class="h-50">Chat</section>
   </div>

   <div class="tab-pane fade" id="legalAdviceTab" role="tabpanel" aria-labelledby="legalAdviceTab">
    <section class="h-50">Legal Advice</section>   
   </div>

</div>

</main>

{{! add lawyer modal }}
<!-- Modal -->
<div class="modal fade" id="lawyerModal" tabindex="-1" role="dialog" aria-labelledby="lawyerModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lawyerModalLabel">Send Lawyer Invite</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="card-body px-lg-5 pt-0">
            <form class="text-center" style="color: #757575;" id="lawyerInvite">
                <div class="form-row">
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="fname" name="firstname" class="form-control">
                            <label for="fname">First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="md-form">
                            <input type="text" id="lname" name="lastname" class="form-control">
                            <label for="lname">Last name</label>
                        </div>
                    </div>
                </div>
                
                <div class="md-form mt-0">
                    <input type="email" id="mail" name="email" class="form-control">
                    <label for="email">E-mail</label>
                </div>

                <button class="btn btn-default btn-rounded btn-block my-4 waves-effect z-depth-0" id="sendInvite" type="submit">Send</button>

                <hr>

            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{! Lawyer details modal }}
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Details</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <ul class="list-group">
          <li class="list-group-item">
            <img id="profilePic" src="" class="rounded-circle mx-auto d-block" alt="profile_pic" height="80">
          </li>
          <li class="list-group-item default-color">
            <div class="md-v-line"></div><i class="fas fa-user mr-3"></i><span id="name"></span>
          </li>
          <li class="list-group-item">
            <div class="md-v-line"></div><i class="fas fa-map-marker-alt mr-3"></i><span id="loc"></span>
          </li>
          <li class="list-group-item">
            <div class="md-v-line"></div><i class="fas fa-briefcase mr-3"></i><b>Years of Experience</b> <span id="exp"></span>
          </li>
          <li class="list-group-item">
            <div class="md-v-line"></div><i class="fas fa-money-bill-wave mr-3"></i><b>Fee</b> &#8358;<span id="fee"></span>
          </li>
        </ul>
        <div class="text-center">
          <p id="link"></p>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- Task details modal -->
<div class="modal fade" id="taskDetailsModal" tabindex="-1" role="dialog" aria-labelledby="taskDetailsModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Task Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">

        <ul class="list-group list-group-flush">
          <li class="list-group-item elegant-color white-text">Task</li>
          <li class="list-group-item"><b>Subject: </b> <span id = "task_subject">Some issue</span></li>
          <li class="list-group-item"><b>Details: </b> <span class="text-justify" id = "task_issue">History is a relentless master. It has no present, only the past rushing into the future. To try to hold fast is to be swept aside.<span></li>
          <li class="list-group-item"><b>Tags: </b> <span id = "task_tags">Theft</span></li>
          <li class="list-group-item"><b>Status: </b> <span id = "task_status">Pending</span></li>
          <li class="list-group-item"><b>Date: </b> <span id = "task_date">Pending</span></li>
        </ul>

        <ul class="list-group list-group-flush">
          <li class="list-group-item elegant-color white-text">Client</li>
          <div class="list-group-item">
            <p class="mb-0"><i class="far fa-image fa-2x mr-4 grey p-3 white-text rounded-circle " aria-hidden="true"></i><span id = "task_clientName">John Doe</span></p>
          </div>
          <li class="list-group-item"><b>Email: </b> <span id = "task_clientEmail"> jd@mail.com </span></li>
          <li class="list-group-item"><b>Number: </b><span id = "task_clientPhone"> 12345 </span></li>
        </ul>

        <ul class="list-group list-group-flush">
          <li class="list-group-item elegant-color white-text">Lawyer</li>
          <div class="list-group-item">
            <p class="mb-0"><i class="far fa-image fa-2x mr-4 grey p-3 white-text rounded-circle " aria-hidden="true"></i><span id = "task_lawyerName">John Doe</span></p>
          </div>
          <li class="list-group-item"><b>Email: </b> <span id = "task_lawyerEmail">jd@mail.com</span></li>
          <li class="list-group-item"><b>Number: </b><span id = "task_lawyerPhone">12345</span></li>
          <li class="list-group-item"><b>Address: </b> <span id = "task_lawyerAddress">12 ave. abuja</span></li>
        </ul>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{! contact modal  }}
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">

          <div class="d-flex justify-content-center">
            <a class="btn btn-default">Contact Lawyer</a><a class="btn btn-default">Contact Client</a>
          </div>
      
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{! history modal  }}
<div class="modal fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Task History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">

          <h5 class="text-center">History...</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item elegant-color white-text"></li>
            <li class="list-group-item"></li>
            <li class="list-group-item"></li>
          </ul>
      
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{> footer}}

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="{{ABS_PATH}}js/admin/admin_dashboard_render.js"></script>
<script src="{{ABS_PATH}}js/admin/admin_dashboard.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
  $('#sendInvite').click(function() {
    $('#sendInvite').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
  });

  $('.tags').select2();
  $('.status').select2();

  $('.statusFilter').select2();
  

</script>
<script>
  $("#startDate" ).datepicker({
      showOn: "button",
      buttonText: "Start date"
    });

  $("#endDate").datepicker({
    showOn: "button",
    buttonText: "End date"
  })

</script>
