{{> header }}
<link rel="stylesheet" href="{{ABS_PATH}}stylesheets/style.css">

<style>
.banner{
  background-image: url({{{courseImage}}});
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
.shadow-text{
  text-shadow: .5em .5em 10px rgba(0,0,0, .45);
  background-color: rgba(0, 0, 0, .45);
  padding: 10px
}

#promoForm{
  max-width: 700px;
  
}
</style>

<header>
  <nav class="mb-1 pt-3 pb-3 navbar navbar-expand-lg navbar-dark special-color">
    <a class="navbar-brand default-color p-3" href="#">{{AppName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <em>Welcome Admin</em>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{{ABS_PATH}}logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
</header>


<main class="m-5">
    <section class="container">
        <div class = "banner h-50 pl-5">
          <p class="text-right"><a href="/admin">&larr; Back to Dashboard</a></p>
          <div class = "header-group h-100 d-flex flex-column justify-content-end text-white pb-5">
            <h3 class = "h3 shadow-text w-50" data-aos="fade-right" data-aos-duration="1500">{{courseTitle}}</h3>
            <p class = "shadow-text w-50">Modify or delete course details</p>
            <hr class = "" width="150" align="left"/>
          </div>
          
        </div>

        <ul class="nav nav-tabs md-tabs mt-5" id="myTabMD" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="contents-tab-md" data-toggle="tab" href="#contents-md" role="tab" aria-controls="contents-md"
              aria-selected="true">Contents</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="detials-tab-md" data-toggle="tab" href="#details-md" role="tab" aria-controls="details-md"
              aria-selected="false">Course Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="promo-tab-md" data-toggle="tab" href="#promo-md" role="tab" aria-controls="promo-md"
              aria-selected="false">PROMO Codes</a>
          </li>
        </ul>
        <div class="tab-content border pt-5 container" id="myTabcontentsMD">
          <div class="tab-pane fade show active" id="contents-md" role="tabpanel" aria-labelledby="content-tab-md">

              <input type = "hidden" id = "courseId" value = "{{courseId}}" readonly />
              <div class="text-right">
                <button class="btn" id="addLessonButton">Add Lesson</button>
                <button class="btn" id = "addQuestionButton">Add Question</button>
                <button class="btn" id = "addLinkButton">Add Reading Link</button>
              </div>

              <h5>Content List</h5>
              <hr/>
              <ul class="list-group list-group-flush" id="contentList">
                <div class="d-flex justify-content-center">
                  <div class="spinner-grow slow" role="status" id="loadingTasks">
                    <span class="sr-only">Loading...</span>
                  </div>
                </div>
              </ul>
          </div>
          <!----Details Tab ---->
          <div class="tab-pane fade" id="details-md" role="tabpanel" aria-labelledby="details-tab-md">
                <h3>Edit Course Details</h3>
                <form id = "addCourseForm" class="border border-light p-5" >
                    <input type = "hidden" id = "editcourse" value = "edit" />
                    <div class =  "row">
                      <div class = "col-md-12 mb-4">
                          <label for="title">Title</label>
                            <input id= "title" type="text" name="title" class="form-control" required>
                      </div>
                      <div class = "col-md-12 mb-4">
                          <label for="title">Author</label>
                            <input id= "author" type="text" name="author" class="form-control" required>
                      </div>
                      <div class = "col-md-12 mb-4">
                          <label for="price">Price</label>
                          <input id = "price" name = "price" type="number"  class="form-control">
                      </div>
                      <div class = "col-md-12 mb-4">
                          <label for="price">Slashed Price</label>
                          <input id = "oldprice" name = "oldprice" type="text"  class="form-control">
                      </div>
                      
                      <div class = "col-md-12 mb-4">
                          <label for="desc">Description</label>
                          <textarea id="desc" name="details" class="md-textarea form-control" rows="3" required></textarea>
                      </div>
                      <div class = "col-md-12 mb-4">
                          <label for="category">Category</label>
                          <select name = "category" id = "category" class="browser-default custom-select">
                          {{{categories}}}
                        </select>
                      </div>
                      <div class = "col-md-12 mb-4">
                          <label for="tags">Tags</label>
                          <select id = "tags" multiple name = "tags[]" class="browser-default custom-select">
                          {{{tags}}}
                        </select>
                      </div>
                    </div>
                    
     
                    <div class = "d-flex flex-column justify-content-center">
                        <button  id = "submitCourseFormButton" class = "btn lt-btn-accent mt-3" type = "submit">Save</button>
                    </div>              
                </form>

                <hr/>
                
          </div>
          <div class="tab-pane fade" id="promo-md" role="tabpanel" aria-labelledby="promo-tab-md">
            <h5> Course Promo Codes </h5>

            <form id = "promoForm" class="border border-light p-5" >
                    <input type = "hidden" id = "promoMode" value = "add" />
                    <input type = "hidden" id = "promoId" value = "" />
                    <div class= "mb-4">
                        <label for="code">Promo Code</label>
                          <input id= "code" type="text" name="code" class="form-control" required>
                    </div>
                    <div class = "mb-4">
                        <label for="discount">Percentage Discount</label>
                        <input id = "discount" name = "discount" type="number"  class="form-control">
                    </div>
                    <div class = "d-flex flex-column justify-content-center">
                        <button  id = "submitPromoButton" class = "btn lt-btn-accent mt-3" type = "submit">Add Code</button>
                    </div>             
                </form>

            <h5>List of Codes</h5>
            <ul class="list-group list-group-flush" id="promoCodes">
              <div class="d-flex justify-content-center">
                <div class="spinner-grow slow" role="status" id="loadingTasks">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            </ul>
            
          </div>
        </div>
    </section>
</main>


{{>core}}
 <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-storage.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
  {{! select2 }}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

  {{! flatpickr datetime }}
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


{{! add Link Modal  }}
<div class="modal fade" id="addLinkModal" tabindex="-1" role="dialog" aria-labelledby="addLinkModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">

          <form id="linkForm">
              <input type = "hidden" id = "linkMode" value = "add"/>
              <input type = "hidden" id = "linkId" />
              <input type = "hidden" id = "linkType" name = "type"  value ="Link" />

              <div class="mb-3 md-form">
                  <label for="title">Link Title</label>
                  <input id = "title" type="text" name="title" class="form-control" required>
              </div>
              <div class="mb-3 md-form">
                  <label for="url">Link</label>
                  <input id = "url" type="url" name="url" class="form-control" required>
              </div>
              <button type="submit" id="saveLinkButton" class="btn btn-primary">Save</button>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{! add lesson modal  }}
<div class="modal fade" id="addLessonModal" tabindex="-1" role="dialog" aria-labelledby="addLessonModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Lesson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">

          <form id="lessonForm">
              <input type = "hidden" id = "lessonMode" value = "add"/>
              <input type = "hidden" id = "lessonId" />
              <input type = "hidden" id = "lessonType" name = "type"  value ="Lesson" />
              <div class="mb-3 md-form">
                  <label for="title">Title</label>
                  <input type="text" name="title" class="form-control" required>
              </div>
              <div class="md-form">
                <textarea id="desc" name = "description" class="md-textarea form-control" rows="3" required></textarea>
                <label for="desc">Description</label>
              </div>
              <button type="submit" id="saveLessonButton" class="btn btn-primary">Save</button>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{! add question modal  }}
<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "questionForm" class = "p-3">
         <input type = "hidden" id = "questionMode" value = "add"/>
         <input type = "hidden" id = "questionId" />
         <input type = "hidden" name  = "type" value = "Question"/>
         <div class="md-form">
            <textarea id ="question" name="title" class="md-textarea form-control" rows="3" required></textarea>
            <label for="question">Question(200 words)</label>
         </div>
          <fieldset>
          <i data-toggle = "tooltip" title = "Add Options for questions" onclick = "addOption()" class="fas fa-plus-circle float-right"></i>
            <div id = "questionOptions">
              
            </div>
          </fieldset>
          <div class="md-form w-100">
            <span class="text-muted">Select Answer</span>
            <select class="tags form-control mt-2" id="answers" name="answers[]" style = "width: 100%" multiple="multiple" required>
            </select>
          </div>
          <button type="submit" id="saveQuestionButton" class="btn btn-primary">Save</button>
        
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{! add Video Modal modal  }}
<div class="modal fade" id="addVideoModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id = "addVideoTitle">Add Video for </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id = "uploadForm" class = " text-center">
          <p class = "text-info">If there is a video already for this course it will be overidden</p>
          <input type = "hidden" name = "lessonId" id = "videoLessonId" />
          <div class="md-form">
            <div class="custom-file">
                <input id="module" type="file" class="custom-file-input" required>
                <label class="custom-file-label" for="module" data-browse="Upload">Upload Module</label>
            </div>
          </div>
          <button type="submit" id="saveDoc" class="btn btn-primary"><i class = "fa fa-video"></i>Upload</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{! Video Progress Modal }}
<div class="modal fade" id="videoProgressModal" tabindex="-1" data-backdrop = "static" role="dialog" aria-labelledby="addQuestionModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class = "text-center pt-5">
            <span class = "text-center h3">Uploading Video</span>
            <div class="progress mb-5 mt-3" style = "height: 2rem">
            <div id ="progressBar" class="progress-bar " role="progressbar" style="width: 5%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick = "cancelUpload()" >Cancel</button>
      </div>
    </div>
  </div>
</div>

{{! video Preview Modal }}
<div class="modal fade" id="videoPreviewModal" data-backdrop = "static" tabindex="-1" role="dialog" aria-labelledby="videoPreviewModal"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <video id = "videoPreview" class="video-fluid z-depth-1" autoplay loop controls muted>
          
        </video>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{! Confirm Delete }}
<div class="modal fade show" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-labelledby = "Confirm Delete" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
          <!--Header-->
          <div class="modal-header d-flex justify-content-center">
            <p class="heading">Are you sure you want to Delete?</p>
          </div>
          <input type = "hidden" id = "delId" />
          <div class="modal-body">

            <i class="fas fa-times fa-4x animated rotateIn"></i>

          </div>

          <div class="modal-footer flex-center">
            <a href="#pablo" class="btn btn-outline-danger waves-effect waves-light" onclick = "deleteContent()">Yes</a>
            <a href = "#pablo" type="button" class="btn btn-danger waves-effect" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
  </div>


<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="{{ABS_PATH}}js/libraries/js2form.js"></script>
<script src="{{ABS_PATH}}js/libraries/accounting.js"></script>
<script src="{{ABS_PATH}}js/admin/admin_course_details.js"></script>  
<script src="{{ABS_PATH}}js/admin/admin-course-promo.js"></script>  

<script>
 AOS.init();
    $("#answers").select2();

</script>
