{{> header}}
<div class="container">
    <div class="card mt-5 mb-5">
        <h5 class="card-header special-color white-text text-center py-4">
            <strong>Sign up</strong>
        </h5>

        <div class="card-body px-lg-5">

            <form class="text-center" style="color: #757575;" action="#!">

                <div class="md-form mt-0">
                    <input type="text" id="username" class="form-control">
                    <label for="username">Username</label>
                </div>

                 <div class="md-form mt-0">
                    <input type="password" id="pwd" class="form-control">
                    <label for="pwd">Password</label>
                </div>

                <button class="btn btn-outline-dark btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Create</button>

                <hr>

            </form>
            <!-- Form -->

        </div>

    </div>
</div>