<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawtrella: Ask a Lawyer</title>
    <!--Bootstrap Core-->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ABS_PATH}}stylesheets/landing.css">
    <link rel="stylesheet" href="{{ABS_PATH}}stylesheets/find-lawyer.css">
</head>
<body>

<style>
  * select {
    max-height: 200px !important;
    overflow: auto !important;
  }
  @media only screen and (max-width: 600px) {
    .list-group-item * {
      margin: 0 10px;
    }
  }
  p{
    color: #5E6870;
    line-height: 1.8;
  }
  

  .ask-form{
    max-width: 500px;
    background-color: rgba(17, 100, 94, 0.314);
  }
</style>
{{> navbar}}


<main class="mb-5">

  <section class="container">
    <div class="mt-5">
        <h4 class="mb-3 text-uppercase font-weight-bold">ASK A LAWYER</h4>
        <p class="text-justify">
          Need help with Legal Issues? Click <a href = "#" id ="askLawyerButton" class = "lt-text-accent">here</a> to chat privately with a Lawyer.
        </p>
        <a href = "#" onclick = "askLawyer()"  class = "btn btn-md lt-btn-accent mt-2 p-3">CHAT NOW</a>
        <br/>
        
    </div>

    {{! disclaimer modal }}
    <div class="modal fade white" id="disclaimerModal" tabindex="-1" role="dialog" aria-labelledby="disclaimerModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="disclaimerModalLabel">Disclaimer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-justify">
              ‘Ask a lawyer’ does not give professional legal advice. 
              The Legal information provided here is for educational purposes only and does not replace professional advice. 
              Lawtrella, its employees, partners or affiliates will not be liable for any loss and/or damages that might arise from use of any information obtained from this service. 
              We advise you to consult with a lawyer before taking action(s) based on these answers. Making decisions based on this information is solely at your own risk.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Reject</button>
            <button type="button" class="btn lt-btn-accent" id="disclaimer-agree-btn">Agree</button>
          </div>
        </div>
      </div>
    </div>
    {{! disclaimer modal end }}

    {{! public question modal }}
    <div class="modal fade white" id="publicQuestion" tabindex="-1" role="dialog" aria-labelledby="publicQuestionLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="publicQuestionLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p class="text-justify">
                You are about to access a public forum. Questions posed by you and information provided thereof, 
                as well as responses and answers to such questions shall be made public and be available to anyone visiting the site. 
                We therefore strongly advise that any confidential information should not be provided through this section.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Reject</button>
            <button type="button" class="btn lt-btn-accent" id="public-question-agree">Agree</button>
          </div>
        </div>
      </div>
    </div>
    {{! public question modal end }}

    <h5 class = "mt-5 mb-3 text-uppercase">Ask a Question on our public forum <span class="text-lowercase">or</span> Browse answers to previously asked questions</h5>
    <p class="text-justify">
            Do you need legal advise of any sort to know the next line of action to take? Get limited free legal advise from top attorneys at Lawtrella.Browse through our archive of already answered questions 
    </p>

    <form id = "legalAdvice" class="border border-light p-5 ask-form mt-5" >
        <p class="h6 mb-4">Ask a legal question</p>
        <p id = "loginError" class = "error valid"></p>
        <div class= "mb-4">
            <label for="name">Name (optional)</label>
            <input id = "name" name = "name" type="text"  class="form-control" >
        </div>
        <div class = "mb-4">
            <label for="subject">Subject</label>
            <input id = "subject" name = "subject" type="text"  class="form-control" required>
        </div>
        <div class = "mb-4">
            <label for="subject">Legal Question (250 charcters)</label>
            <textarea id = "question" row = "3" col = "5" name = "text" type="text"  class="form-control" required>
            
            </textarea>
        </div>
        
        <button  id = "askQuestionButton" class = "btn lt-btn-accent mt-3" type = "submit">ASK</button>
                    
    </form>
  </section>
  <section class = 'container'>
    <h5 class = "mt-5 mb-3">PUBLICLY ASKED QUESTIONS</h5>
    <div class="accordion md-accordion" id="questionsList" role="tablist" aria-multiselectable="true">
      
    </div>

  </section>

  

  <div class="container" id="findLawyersSection" style="display:none;overflow: scroll">
    <h2 class="text-center mt-2">What's the Issue? Let's help</h2>

    {{! hidden elements }}
    {{>userdata}}
    {{! hidden elements }}
   
  </div>

  
</main>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- Data-aos -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{{ABS_PATH}}js/libraries/bootstrap-notify.js"></script>

  <script src="https://cdn.bootcss.com/simplePagination.js/1.6/jquery.simplePagination.js"></script>

    {{! Multi select }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>

  {{! Firebase }}
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>
   <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-storage.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>

  {{! select2 }}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

  {{! flatpickr datetime }}
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

{{> footer-new}}


 {{> login}}
   <!-- Verify Modal -->
  <div class="modal " id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="Recover Password"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id = "recoverComplete" class = "d-flex flex-column  align-items-center justify-content-center p-5">
                <h3 id = "verifyStatus" class = "pl-2">Please Wait</h3>
                <lottie-player id = "verifyAnimation" src="{{ABS_PATH}}/assets/payment-confirm.json"  background="transparent"  speed="1"  style="display: none; width: 300px; height: 300px;" loop></lottie-player>
                <i id = "verifyIcon" class="fas fa-sync fa-spin fa-5x lt-accent-color m-5"></i>
                <p id = "verifyDescription" class = "pl-2">Please Wait while we set up your Matter</p>
                <a  id="dashboardButton" style ="display:none"  href = "{{ABS_PATH}}client/dashboard" class = "btn lt-btn-accent btn-expand">Goto Dashboard</a>
            </div>
        </div>
      </div>
    </div>
  </div>
<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="{{ABS_PATH}}js/client/clientScript.js"></script>
<script src="{{ABS_PATH}}js/lawyer/lawyerScript.js"></script>
<script src="{{ABS_PATH}}js/legalAdvice.js"></script>




<script>
    $('#tags').select2({
      maximumSelectionLength: 3
    });

    $('.category--tags').select2();

    loadBtn('next');

  
</script>
<script>
    const goBack = () => {
        window.history.back();
    }
</script>
</body>
</html>
