{{> header}}
<style>
  @media only screen and (max-width: 600px) {
    .list-group-item * {
      margin: 0 10px;
    }
  }
</style>
<header>
  <!--Navbar -->
  <nav class="mb-1 pt-3 pb-3 navbar navbar-expand-lg navbar-dark special-color">
    <a class="navbar-brand default-color p-3" href="#">{{AppName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
            <a class="nav-link p-0" href="#">
            <img src="{{photoURL}}" class="rounded-circle z-depth-0"
                alt="avatar image" height="40">
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{{ABS_PATH}}logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>

        
    </div>
  </nav>
  <!--/.Navbar -->
</header>

<main class="mb-5">
  <div class="container" id="findLawyersSection">
    <h2 class="text-center mt-2">What's the Issue? Let's help</h2>

    {{! hidden elements }}
    <input value="{{email}}" id="clientEmail" style="display: none" />
    <input value="{{displayName}}" id="displayName" style="display: none" />
    <input value="{{phoneNumber}}" id="phoneNumber" style="display: none" />
    {{! hidden elements }}
    <hr/>
    <div class="d-flex justify-content-center">
        <!-- Material form group -->
        <form class="w-100 border p-3" id="findLawyerForm">
            <!-- Material input -->
            <div class="md-form form-group mt-5">
                <input type="text" class="form-control" name="subject" id="subject" required>
                <label for="subject">Subject</label>
            </div>
  
            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                <textarea id="issues" class="md-textarea form-control" name="issue" rows="3" required></textarea>
                <label for="form23">Type your issue here</label>
            </div>

              <div class="md-form">
              <span class="text-muted">Select Tags Below</span>
                  <select class="tags form-control mt-2" id="tags" name="tags[]" multiple="multiple" required>
                      {{{tags}}}
                  </select>
              </div>

              <button type="button" onclick="goBack()" class="btn"><i class="fas fa-arrow-left"></i> Back</button>

              <div class="md-form text-right">
                  <button type="submit" id="next" class="btn btn-default">Next <i class="fas fa-arrow-right"></i></button>
              </div>
          </form>
          <!-- Material form group -->

      </div>
  </div>

  <section class="container h-75" id="fetchLawyersSection" style="display:none;overflow: scroll">
      <h3 class="text-center mt-3">Lawyers that match your Issue</h3>
      <hr/>
      <ul class="list-group list-group-flush" id="fetchlawyersList">
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="flex-fill">
              <img src="" alt="profile_pic" width="30"/>
              Jessica Pearson</span> <br/>
              <span class="badge badge-info badge-pill p-3">&#8358;<span style="font-size:larger">10000</span></span>
              <a class="btn blue-text ml-4" onclick="payWithPaystack()">select</a>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <img src="" alt="profile_pic" width="30"/>
              <span class="flex-fill">Harvey Specter</span>
              <span class="badge badge-info badge-pill p-3">&#8358;<span style="font-size:larger">10000</span></span>
              <a class="btn blue-text ml-4">select</a>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
              <img src="" alt="profile_pic" width="30"/>
              <span class="flex-fill">Lewis Litt</span><br/>
              <span class="badge badge-info badge-pill p-3">&#8358;<span style="font-size:larger">10000</span></span>
              <a class="btn blue-text ml-4">select</a>
          </li>
      </ul>
      <div class="md-form text-left">
        <button type="submit" id="prev" class="btn btn-primary"><i class="fas fa-arrow-left"> Back</i></button>
      </div>
  </section>
</main>

{{! <form >
  <script src="https://js.paystack.co/v1/inline.js"></script>
  <button class="form-control" type="button" onclick="payWithPaystack()"> Pay </button> 
</form> }}

{{> footer}}

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="{{ABS_PATH}}js/client/clientScript.js"></script>
<script src="{{ABS_PATH}}js/client/clientDashboard.js"></script>
<script src="{{ABS_PATH}}js/libraries/accounting.js"></script>

<script src="https://js.paystack.co/v1/inline.js"></script>

<script>
    $('#tags').select2({
      maximumSelectionLength: 3
    });

    loadBtn('next');
</script>
<script>
    const goBack = () => {
        window.history.back();
    }
</script>
