{{> header}}
<header>
  <!--Navbar -->
  <nav class="mb-1 pt-3 pb-3 navbar navbar-expand-lg navbar-dark special-color">
    <a class="navbar-brand default-color p-3" href="#">A&E Virtual Law</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
            <a class="nav-link p-0" href="#">
            <img src="" class="rounded-circle z-depth-0"
                alt="avatar image" height="40">
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{{ABS_PATH}}logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>

        
    </div>
  </nav>
  <!--/.Navbar -->
</header>

<div class="container">
    <h2 class="text-center mt-2">What's the Issue? Let's help</h2>
    <hr/>
    <div class="d-flex justify-content-center">
        <!-- Material form group -->
        <form class="w-100 border p-3">
            <!-- Material input -->
            <div class="md-form form-group mt-5">
                <input type="text" class="form-control" id="subject">
                <label for="subject">Subject</label>
            </div>
  
            <div class="md-form mb-4 pink-textarea active-pink-textarea-2">
                <textarea id="form23" class="md-textarea form-control" rows="3"></textarea>
                <label for="form23">Type your issue here</label>
            </div>

            <div class="md-form">
            <span class="text-muted">Select Tags Below</span>
                <select class="tags form-control mt-2" id="tags" name="tags[]" multiple="multiple">
                    {{{tags}}}
                </select>
            </div>
            <div class="md-form text-right">
                <a href="/client/lawyerList" class="btn btn-primary">Next <i class="fas fa-arrow-right"></i></a>
            </div>
        </form>
        <!-- Material form group -->
    </div>
</div>

{{> footer}}

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="{{ABS_PATH}}js/client/clientScript.js"></script>

<script>
    $('#tags').select2();
</script>