{{> header}}

{{! <style>
    #embeddedDoc {
        pointer-events: none;
    }
    #embeddedDoc::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
    }
</style> }}

<nav class="mb-1 pt-3 pb-3 navbar navbar-expand-lg navbar-dark default-color">
    <a class="h4 navbar-brand  p-3" href="#">{{AppName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>

    </div>
</nav>

<div class="row">
    <section class="container">
        <div class="mt-5">
            <h4 class="text-uppercase font-weight-bold">legal documents</h4>
            <p class="text-justify">
                Looking for prepared and iron clad contracts, agreements, licenses documents and other legal documents curated for your specific needs?.
                Well look no further, Lawtrella legal documents is your one stop hive for legal documents in Nigeria
            </p>

            <form class="form row py-3" id="searchFilterForm">
                <label for="filter" class="font-weight-bold col-md-12">Filter Category</label>
                <input type="search" name="filter" class="form-control col-md-4 ml-3" />
                <button type="button" id="resetFilterBtn" class="border-0 px-2 bg-warning white-text">Reset Filter</button>
            </form>
        </div>

        <br/>

        {{! card deck  }}
        <div class="container">
            <div class="row row-cols-4 row-cols-md-4" id="documents">


            </div>
        </div>
        {{! / card deck  }}

            <div class="d-flex justify-content-center my-5">
                <div class="spinner-grow" role="status" id="loading">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

    </section>

    <div class="modal fade" id="documentPreviewModal" tabindex="-1" role="dialog" aria-labelledby="documentModalTitle"
  aria-hidden="true">

  <div class="modal-dialog modal-lg modal-center" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="font-weight-bold w-100 modal-title" id="updateProfileModalTitle">Document Title <span class="float-right">N10000</span></h4>
        <button type="button" id="closeProfileModal" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="w-100">Preview</h5>

        <iframe src="{{ABS_PATH}}images/TestDocument.pdf#toolbar=0" id="embeddedDoc"
            width="100%" height="300"></iframe>
      </div>
      <div class="modal-footer">
        <button class="btn default-color white-text" onclick="payLegalDoc()"><i class="fa fa-download"></i> Download</div>
      </div>
    </div>
  </div>
</div>
</div>

{{>userdata}}
 
{{> footer}}

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="{{ABS_PATH}}js/libraries/accounting.js"></script>
<script src="{{ABS_PATH}}js/legalDocs.js"></script>

<script>
    $('.documentSearch').select2();
</script>