{{> header}}

<div class="row">
    <div class="col-12">
        <section class="h-50">
            <div class="row" style="background-image: linear-gradient(to right, #95c8cc, #fff, #fff, #fff)">
                <div class="col-md-6 text-center pb-3">
                    <div class="h-25"></div>
                    <h2 class="text-uppercase">legal documents</h2>
                    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
                </div>

                <div class="col-md-6 text-center">
                    <img src="https://image.freepik.com/free-vector/documents-concept-illustration_114360-138.jpg" width="60%">
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row">
    <section class="container">
        <div class="text-center">
            <div class="card unique-color white-text"><b>Register or login to your account for a discount!</b></div>
        </div>
        <br/>
        <br/>
        <!-- Card deck 1 -->
            <div class="card-deck">

            <!-- Card -->
            <div class="card mb-4">

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Document title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <h5>&#8358;<span id="amount">1,000</span></h5>
                    <button type="button" onclick="getLegalDoc()" class="btn btn-light-blue btn-md">Select</button>

                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Document title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-light-blue btn-md">Select</button>

                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Document title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                   <button type="button" class="btn btn-light-blue btn-md">Select</button>

                </div>

            </div>
            <!-- Card -->

            </div>
        <!-- /Card deck 1-->

        <!-- Card deck 2-->
            <div class="card-deck">

            <!-- Card -->
            <div class="card mb-4">

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Document title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-light-blue btn-md">Select</button>

                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Document title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-light-blue btn-md">Select</button>

                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="card-title">Document title</h4>
                    <!--Text-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-light-blue btn-md">Select</button>

                </div>

            </div>
            <!-- Card -->

            </div>
        <!-- Card deck 2-->


    </section>
</div>
 
{{> footer}}

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="{{ABS_PATH}}js/legalDocs.js"></script>