{{> header-new }}
{{> navbar }}

<div class="row">
    <section class="container">
        <div class="mt-5">
            <h4 class="text-uppercase font-weight-bold">legal documents</h4>
            <p class="text-justify">
                Looking for prepared and iron clad contracts, agreements, licenses documents and other legal documents curated for your specific needs?.
                Well look no further, Lawtrella legal documents is your one stop hive for legal documents in Nigeria
            </p>

            <form class="form container row py-3" id="searchFilterForm">
                <label for="filter" class="font-weight-bold col-md-12">Filter Category</label>
                {{! <input type="search" name="filter" class="form-control col-md-4 ml-3" /> }}
                <select class="form-control col-md-4 ml-3 documentSearch" name="filter" id="select-filter">
                  <option value="">Search documents</option>
                </select>
                <button type="button" id="resetFilterBtn" class="border-0 px-2 bg-warning white-text">Reset Filter</button>
            </form>
        </div>

        <br/>

        {{! card deck  }}
        <div class="container">
            <div class="row row-cols-4 row-cols-md-4" id="documents">


            </div>
        </div>
        {{! / card deck  }}

            <div class="d-flex justify-content-center my-5">
                <div class="spinner-grow" role="status" id="loading">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>

    </section>

    <div class="modal fade" id="documentPreviewModal" tabindex="-1" role="dialog" aria-labelledby="documentModalTitle"
  aria-hidden="true">

  <div class="modal-dialog modal-center" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="font-weight-bold w-100 modal-title">
            <span id="docTitle"></span>
            <span class="float-right text-success">&#8358;<span id="docPrice"></span></span>
        </h4>
        <button type="button" id="closeProfileModal" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="w-100">Preview</h5>
        <hr/>
        <input value="{{email}}" id="docID" type = "hidden" />
        <section id="docPreview"></section>
      </div>
      <div class="modal-footer">
        <button class="btn default-color white-text" id="downloadDoc"><i class="fa fa-download"></i> Download</div>
      </div>
    </div>
  </div>
</div>
</div>

{{>userdata}}

{{! 
*****
Modals
******
}}
  {{>login}}

{{! 
*****
Modals end
*****
}}
 
<section class="h-10"></section>
{{> userdata}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
  <!-- Data-aos -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{{ABS_PATH}}js/libraries/bootstrap-notify.js"></script>

  <script src="https://cdn.bootcss.com/simplePagination.js/1.6/jquery.simplePagination.js"></script>

    {{! Multi select }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>

  {{! Firebase }}
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

  <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>
   <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-storage.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>

  {{! select2 }}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

<section class="h-10"></section>
{{> footer-new}}

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="{{ABS_PATH}}js/libraries/accounting.js"></script>
<script src="{{ABS_PATH}}js/lawyer/lawyerScript.js"></script>
<script src="{{ABS_PATH}}js/client/clientScript.js"></script>
<script src="{{ABS_PATH}}js/legalDocs.js"></script>

<script>
    $('.documentSearch').select2();
</script>