{{> header }}
<header>
    <nav class="mb-1 pt-3 pb-3 navbar navbar-expand-lg navbar-dark special-color">
        <a class="navbar-brand default-color p-3" href="#">{{AppName}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="container pt-3">
    <h3 data-aos="fade-right" data-aos-duration="1500">Available Courses</h3>
    <hr width="100" align="left"/>
    <div class="row">
        
        <div class="col-md-3">
            <div class="card mt-1" data-aos="zoom-out" data-aos-duration="1600">
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                        alt="html_css_image">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Intro to Contract Law</h4>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#detailsModal">View Details</a>
                </div>

            </div>
        </div>

        <div class="col-md-3">
            <div class="card mt-1" data-aos="zoom-out" data-aos-duration="1600">
                <div class="view overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
                        alt="html_css_image">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h4 class="card-title">Business Law Certification</h4>
                    <p class="card-text"></p>
                    <a href="/courseDetails" class="btn btn-primary">View Details</a>
                </div>

            </div>
        </div>        

    </div>
</main>

</div><br><br><br>

<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Intro to Contract Law</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="text-center text-info">Introduction</h4>
                <p class="text-justify mt-1">
                    Contract law governs the legality of agreements made between two or more parties when there is an exchange of some sort intended to take place.
                    <br />
                    A contract is legally enforceable because it meets the requirements and approval of the law.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="selectHtml">Select</button>
            </div>
        </div>
    </div>
</div>

{{> footer}}