{{> header }}
<header>
    <nav class="mb-1 pt-3 pb-3 navbar navbar-expand-lg navbar-dark special-color">
        <a class="navbar-brand default-color p-3" href="#">{{AppName}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="container pt-3">
    <h3 data-aos="fade-right" data-aos-duration="1500">Courses</h3>
    <hr width="100" align="left"/>

</main>

{{> footer}}