{{> header}}
<nav class="mb-1 pt-3 pb-3 navbar navbar-expand-lg navbar-dark special-color">
    <a class="navbar-brand default-color p-3" href="#">{{AppName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
            </a>
        </li>
        </ul>

    </div>
</nav>

<main style="min-height: 70vh" class="container">
    <div class="row d-flex justify-content-center">
        <div class="card mt-5 mb-5 col-6 p-0">
            <h5 class="card-header special-color white-text text-center py-4">
                <strong>Lost your password!, We've got you covered</strong>
            </h5>

            <div class="card-body px-lg-5">

                <form class="text-center" style="color: #757575;" id="forgetForm">
                    <div class="md-form mt-3">
                        <input type="email" id="mail" name="email" class="form-control">
                        <label for="email">Email</label>
                    </div>
                    <button class="btn btn-outline-dark btn-rounded btn-block my-4 waves-effect z-depth-0" id="login" type="submit">Recover</button>
                    <hr>

                </form>
                <!-- Form -->

            </div>

        </div>
    </div>
</main>

{{> footer}}

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script type = "text/javascript">
$("#forgetForm").submit(function(e){
    console.log('forget Form submited')
    e.preventDefault();
    let mail = $("#mail").val();
    console.log(mail);
    let path = ABS_PATH + "recoverPassword";
    this.reset();
    let notification = $.notify('Please Wait...', {type: 'primary', delay : 0});
    $.ajax({
        type: 'POST',
        url : path,
        data: {email: mail},
        success: function(response){
            notification.close();
            $.notify(response.message, {type: response.status});
            setTimeout(()=>{
                window.location.url = ABS_PATH
            }, 2000);
        }
    })

})


</script>

<script>
  $('#login').click(function() {
    $('#login').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
  });
</script>