{{> header}}

  <style type="text/css">
    body {scroll-behavior: smooth;padding:0;margin:0;width:100vw !important;overflow-x:hidden}
    div.parent-box { display: table; width:100%;}
    div.child-box { display: table-cell; vertical-align: middle; font-size: xx-large; }
  </style>

<body>
  <header>
    {{> navbar}}
  </header>

  <main>
    <section class="container py-5">
      <h4 data-aos="fade-right" data-aos-duration="1000">Get a Free Legal Advice</h4>
      <hr width="100" align="left" />
      <form id="legalAdvice">
        <div class="form-group">
          <label for="name">Name (optional)</label>
          <input class="form-control" name="name" placeholder="Enter name" />
        </div>      
        <div class="form-group">
          <label for="adviceForm">Have a question?</label>
          <textarea class="form-control" name="text" rows="3" placeholder="Write here..."></textarea>
        </div>
        <div class="float-right">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>

    </section>
    
    <section class="container pb-5">
      <h4>Previously Asked</h4>

<!--Accordion wrapper-->
<div class="accordion md-accordion" id="questionsList" role="tablist" aria-multiselectable="true">


</div>
<div class="d-flex justify-content-center">
    <div class="spinner-grow slow" role="status" id="loadingTasks">
      <span class="sr-only">Loading...</span>
    </div>
</div>
    </section>
  </main>

  <!-- Footer -->
  {{> footer}}
  <!-- Footer -->
  
  <script>
    AOS.init();
  </script>
  
  <script src="{{ABS_PATH}}js/auth.js"></script>
  <script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
  <script src="{{ABS_PATH}}js/legalAdvice.js"></script>
  
</body>

</html>