{{> header-new }}
{{> navbar }}

<style>
.header {
  display: flex;
}

.header p {
  flex: 1;
  font-weight: bold;
}

.results {
  display: flex;
}

.results p {
  flex: 1;
}
</style>

  <section class="container my-5 py-5">
    <h3>Notary Public</h3>
    <hr align="left" width="30%" />
    <div class="d-flex justify-content-end">
      <input name="search" class="form-control col-4 mb-3" id="filter" placeholder="Search" />
    </div>

    <div class="row" id="notary-cards">
    {{{notaryPublic}}}
    </div>
  </section>

  <section class="h-10"></section>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Data-aos -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{{ABS_PATH}}js/libraries/bootstrap-notify.js"></script>

  <script src="https://cdn.bootcss.com/simplePagination.js/1.6/jquery.simplePagination.js"></script>
  <section class="h-10"></section>
{{> footer-new}}

  <script src="{{ABS_PATH}}js/notaryPublic.js"></script>
