{{> header}}

<div class="container">
    <div class="card mt-5 mb-5">
        <h5 class="card-header light-blue lighten-4 text-center py-4">
            <strong>Choose a New password to continue</strong>
        </h5>

        <div class="card-body px-lg-5">

            <form class="text-center" style="color: #757575;" id="resetPasswordForm">

                <input type="hidden" id = "token" name="token" value="{{ token }}" />
                    

                <div class="md-form mt-0">
                    <input type="password" id="pwd" name="password" class="form-control" required>
                    <label for="email">Password</label>
                </div>

                 <div class="md-form mt-0">
                    <input type="password" id="pwd2" name="confirmPassword" class="form-control" required>
                    <label for="pwd">Confirm Password</label>
                </div>

                <button class="btn btn-outline-dark btn-rounded btn-block my-4 waves-effect z-depth-0" id="continue" type="submit">Continue</button>

                <hr>

            </form>
            <!-- Form -->

        </div>

    </div>
</div>

<div style="position: fixed;bottom:0;width:100vw;">
    {{> footer}}
</div>

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script type = "text/javascript">

$("#resetPasswordForm").submit(function(e){
    e.preventDefault();
    console.log('form serenren')
    let notification = $.notify('Please Wait...', {type: 'Primary', delay : 0});
    var form = form2js("resetPasswordForm", ".");
    if (form.password !== form.confirmPassword) {
        notification.close();
        $.notify("Passwords must match", { type: "warning" });
        clearLoad('continue', 'Continue');

        return false;
    }

    $.ajax({
        type: 'POST',
        data: form,
        url : ABS_PATH + 'resetPassword',
        success: function(response){
            console.log(response);
            notification.close();
            $.notify(response.message, {type: response.status});
            clearLoad('continue', 'Recover');
            
        }

    })
})
</script>

<script>
    loadBtn('continue');
</script>
