body {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

div.parent-box {
  display: table;
  width: 100%;
}

div.child-box {
  display: table-cell;
  vertical-align: middle;
  font-size: xx-large;
}