<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{>core-links}}
    <link rel="stylesheet" href="{{ABS_PATH}}stylesheets/landing.css">
    <link rel="stylesheet" href="{{ABS_PATH}}stylesheets/find-lawyer.css">
</head>
<body>
{{>dashboard-nav}}
            <div class = 'container mt-5'>
                <div class="card col-4 bg-default text-white mb-5">
                    <div class="card-body mt-3">
                        <h5 class="card-title">{{displayName}}, Consultation</h5>
                    </div>
                </div>
                <div class="row">
                    <div class = "col-md-6 mb-5">
                        <div class="card h-100" style="background-color: #C8F2EF;">
                            <div id = "client" class="lawyer-card card-body d-flex flex-column justify-content-center" >
                                <h4 class="mb-2">My Client</h4>
                                <div class = "mt-3 d-flex flex-column justify-content-center align-items-center px-3">
                                    <img id = "lawyerPhoto" src="{{photoURL}}" class="rounded-circle z-depth-0" style = "border: 1px solid var(--accent-colr)" alt="avatar image" height="150" width="150">
                                    <h5 class="card-title font-weight-bold mt-3 mb-1" id = "lawyerName">jonh doe brown</h5>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-6 mb-5">
                        <input type = "hidden" id = "taskId" value = "{{taskId}}" />
                       
                        <div class="card h-100" style="background-color: #C8F2EF;">
                            <h4 class="mt-3 mx-3">Case Brief</h4>
                            <div class="lawyer-card card-body" >
                              <h5 class = "card-title font-weight-bold mb-2" id = "subject" style = "width: 60%">My neighbors are too loud and I don't know what to do</h5>
                              <p id = "issue">this isthe despciption of my problem and wnat an answer</p>
                                
                            </div>
                        </div>
                    </div> 
                    <div class = "col-md-6 mb-5">
                        <div class="card h-100" style="background-color: #C8F2EF;">
                            <div class="lawyer-card card-body d-flex flex-column justify-content-center" >
                                <div class = "d-flex flex-row justify-content-between align-items-center mb-2 p-3">
                                <h4>Appiontments</h4> <a href = "#meetingModal" data-toggle = "modal" ><i data-toggle= "tooltip" title = "Add Appointment" class="fas fa-plus lt-accent-color float-right"></i></a>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id = "appointments">
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>   
                    </div>
                    <div class = "col-md-6 mb-5">
                        <div class="card h-100" style="background-color: #C8F2EF;">
                            <div class="lawyer-card card-body d-flex flex-column justify-content-center" >
                                <div class = "d-flex flex-row justify-content-between align-items-center mb-2 p-3">
                                <h4>Invoices</h4>  <a href = "#invoiceModal" data-toggle = "modal" ><i data-toggle= "tooltip" title = "Add Appointment" class="fas fa-plus lt-accent-color float-right"></i></a>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id = "invoices">
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                        <tr>
                                        <td>Suing my husband</td>
                                        <td>Adeniyi Ola</td>
                                        <td>29 Nov 2020</td>
                                        
                                        <td><button class="btn btn-sm btn-warning">Manage</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>   
                    </div>

                    
                </div>
            </div>



{{! meeting modal  }}
<div class="modal fade" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby=""
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Schedule Meeting With Client
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="p-2 mx-auto">
          <form id="scheduleMeetingForm" >
            <p class="h4 mb-4 text-center">Add schedule</p>
            <input value = "{{taskId}}" type = "hidden" name = "taskId" class = "taskId" />
            
            
            <div class = "px-2 mb-3" >
              <label for = "date">Meeting Subject</label>
              <input type="text" class="form-control pl-3" name = "title"  placeholder="Subject of Meeting" id="title" required />
            </div>
            <div class = "px-2 mb-3">
              <label for = "date">Meeting Date</label>
              <input type="date" class="form-control pl-3" name = "date"  placeholder="Set date" id="scheduleDate" required />
            </div>
          
            <div class = "row px-2 mb-3">
              <div class = "col"><label for = "start">Start Time</label><input type="time" id="start" placeholder = "start time" name="start" class="form-control" required></div>
              <div class = "col"><label for = "end">End Time</label><input type="time" id="end" placeholder = "start time" name="end" class="form-control" required></div>
            </div>
            <div class="pt-2">
              <button id = "addMeetingButton" type="submit" class="btn btn-default">Set</button>
            </div>
          </form>
          <form id="editScheduleForm" style= "display:none">
            <p class="h4 mb-4 text-center">Edit schedule</p>
            <input type = "hidden" name = "taskId" value = "{{taskId}}" />
            <input type = "hidden" id = "meetingId" />
            <div class = "px-2">
              <label for = "date">Meeting Subject</label>
              <input type="text" class="form-control pl-3" name = "title"  placeholder="Meeting Subject" id="title" required />
            </div>
            <div class = "px-2">
              <label for = "date">Meeting Date</label>
              <input type="date" class="form-control pl-3" name = "date"  placeholder="Set date" id="scheduleDate" required />
            </div>
            <div class = "row px-2">
              <div class = "col"><label for = "start">Start Time</label><input type="time" id="start" placeholder = "start time" name="start" class="form-control" required></div>
              <div class = "col"><label for = "end">End Time</label><input type="time" id="end" placeholder = "start time" name="end" class="form-control" required></div>
            </div>
            <div class="pt-2">
              <button id = "editButton" type="submit" class="btn btn-default">Edit</button>
              <button id = "cancelEditButton" onclick = "cancelEdit()" type="button" class="btn btn-danger">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{! history modal  }}
<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="historyModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="far fa-bell pr-2"></i>Task History</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">

          <h5 class="text-center">History...</h5>
          <ul class="list-group list-group-flush" id = "notificationList">
          
          </ul>
      
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{! invoice modal  }}
<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby=""
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mx-auto">
        <h5 class="modal-title text-center">
          Generate Invoice
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="invoiceForm">

          <input type = "hidden" id = "invoiceTaskId"  name = "taskId"  value = "{{taskId}}" />
          <div class="md-form mb-5">
            <input type="number" name="amount" class="form-control validate">
            <label data-error="wrong" data-success="right" for="amount">Enter Price</label>
          </div>
          <div class="md-form mb-5">
            <input type="text" name="subject" class="form-control validate">
            <label data-error="wrong" data-success="right" for="amount">Title of This Invoice</label>
          </div>
          <div class="md-form">
            <textarea type="text" name="description" class="md-textarea form-control" rows="4"></textarea>
            <label data-error="wrong" data-success="right" for="message">Details</label>
          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" id = "raiseInvoiceButton" class="btn btn-default">Submit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

{{! pending Invoice modal}}
<div class="modal fade" id="pendingInvoiceModal" tabindex="-1" role="dialog" aria-labelledby=""
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mx-auto">
        <h5 class="modal-title text-center">
          Pending Invoice
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      <ul class="list-group list-group-flush">
          <li class="list-group-item elegant-color white-text">Invoice</li>
          <div class="list-group-item">
            <p class="mb-0"><i class="fas fa-file-invoice fa-2x mr-4 grey p-3 white-text rounded-circle " aria-hidden="true"></i><h5 id = "invoiceTitle">John Doe</h5></p>
          </div>
          <li class="list-group-item"><b>Description: </b> <span id = "invoiceDescription"> jd@mail.com </span></li>
          <li class="list-group-item"><b>Amount: </b><span id = "invoiceAmount"> 12345 </span></li>
          <li class="list-group-item"><b>Date Raised: </b><span id = "invoiceDate"> Ewerasd </span></li>
      </ul>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="updateProfileModal" tabindex="-1" role="dialog" aria-labelledby="updateProfileModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">


    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateProfileModalTitle">Profile</h5>
        <button type="button" id="closeProfileModal" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

            <form id="uploadPic" class="text-center container">
                <img id="chosenPic" src="{{photoURL}}" style="width:100;height:100" class="rounded-circle mx-auto d-block" alt="profile_pic">
                <div class="md-form">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="profilePic" accept="image/x-png,image/jpg,image/jpeg" required>
                      <label class="custom-file-label" for="profilePic" data-browse="Select">Select a profile picture</label>
                    </div>
                <button type="submit" class="btn btn-info mt-3" id="uploadPicBtn">Upload</button>
                </div>
            </form>

            <hr class="border"/>
            <form id = "updateProfile" class="container">
                <div class="md-form">
                    <input type="text" name="address" class="form-control" value = "{{address}}" required>
                    <label for="address">Address</label>
                </div>

                <div class="md-form">
                    <input type="text"  value = "{{lga}}" name="lga" class="form-control" required>
                    <label for="lga">L.G.A</label>
                </div>

                 <div class="md-form">
                    <input type="text" value = "{{state}}" name="state" class="form-control" required>
                    <label for="state">State</label>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-info mt-3" id="updateProfileBtn">Save</button>
                </div>
            </form>

      </div>
    </div>
  </div>
</div>

{{! delete legal doc }}
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteDoc"
aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title w-100 text-center">Confirm Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div class="text-center">
            <input type = "hidden" id = "delId" />
          <h6 id = "deleteTitle">Are you sure you want to delete this Invoice?</h6>
          <hr />
          <button class="btn btn-danger" onclick = "yesDelete()">Yes</button>
          <button class="btn btn-default" data-dismiss="modal">No</button>
        </div>

      </div>
    </div>
  </div>
</div>

{{>userdata}}
{{>core}}
{{>footer-new}} 
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-storage.js"></script>
<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="{{ABS_PATH}}js/libraries/js2form.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="{{ABS_PATH}}js/libraries/accounting.js"></script>
<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/lawyer/case.js"></script>  
</body>
</html>