{{> header}}
<style>
  section#chatsContainer {
      max-height: 50vh;
      overflow-y: scroll;
      scroll-behavior: smooth;
  }

  @media only screen and (max-width: 600px) {
    #inviteModalDiv * {
      display: flex;
      justify-content: center;
      margin: 0 25%;
    }
  }
</style>
<header>
  <!--Navbar -->
  <nav class="mb-1 pt-3 pb-3 navbar navbar-expand-lg navbar-dark special-color">
    <a class="navbar-brand default-color p-3" href="#">{{AppName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
            <a class="nav-link p-0" href="#">
            <img src="{{ photoUrl }}" class="rounded-circle z-depth-0"
                alt="avatar image" height="40">
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{{ABS_PATH}}logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>

        
    </div>
  </nav>
  <!--/.Navbar -->
</header>

<input type = "hidden" name = "uid" id = "uid" value = "{{uid}}" />
<input type = "hidden" name = "displayName" id = "displayName" value = "{{name}}" />

<main style="min-height:100vh" class="grey lighten-4">
    <div class="row pt-1">
        <div class="col-md-12">
            <div class="text-right" id="inviteModalDiv">
              <a class="btn btn-default" data-toggle="modal" data-target="#inviteModal">Invite a friend</a>
            </div>
            <br />
            <div class="container-fluid">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs nav-justified default-color" role="tablist" id="mainTab">
                  <li class="nav-item">
                    <a class="nav-link black-text active" data-toggle="tab" href="#panel555" role="tab">
                      <i class="fas fa-gavel"></i> Tasks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link black-text" data-toggle="tab" href="#panel666" role="tab">
                      <i class="far fa-comment-alt"></i> Chats</a>
                  </li>
                </ul>
                <!-- Nav tabs -->

                <!-- Tab panels -->
                <div class="tab-content">

                  <!-- Panel 1 -->
                  <div class="tab-pane fade in show active" id="panel555" role="tabpanel">

                    <div class="row mt-3">

                      <div class="col-md-3">
                        <div class="white border p-3">
                          <img src="{{photoUrl}}" width="150" class="rounded-circle mx-auto d-block" alt="profile_pic">
                          <hr/>
                          <div class="text-center">
                              <h3>{{ name }}</h3>
                              <hr/>
                              <a class="btn text-dark" href="/lawyer/profile">Complete your profile</a>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-9">

                        <h4 class="mt-2r">Tasks</h4>
                        <hr/>
                        <table class="table table-bordered tale-striped white">
                            <thead class="black white-text">
                                <col width="50">
                                <col width="50">
                                <col width="50">
                                <col width="80">
                                <tr>
                                    
                                    <th scope="col">Client</th>
                                    <th scope="col">Tasks</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="casesTable">
                                
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-center">
                          <div class="spinner-grow slow" role="status" id="loadingTasks">
                            <span class="sr-only">Loading...</span>
                          </div>
                        </div>

                      </div>
                    </div>


                  </div>
                  <!-- /Panel 1 -->

                  <!-- Panel 2 -->
                  <div class="tab-pane fade container-fluid mt-2" id="panel666" role="tabpanel">

                           <div class="row">
                              <div class="col-md-2">
                                <ul class="list-group list-group-flush">
                                  <ul id = "chatList" class="list-group d-flex flex-column text-center justify-content-between">
                                    <div class="spinner-grow slow align-self-center" role="status" id="loadingTasks"><span class="sr-only">Loading...</span></div>
                                  </ul>
                                </ul>
                              </div>
                              <div class="col-md-10 d-flex flex-column justify-content-between">
                                <div class="border">
                                  <h5 class="p-1">Messages</h5>
                                  <section id = "chatsContainer" class="client__chat d-flex flex-column px-3 default-color py-1">
                                    <h5>Click a Chat to view messages here</h5>
                                  </section>
                                </div>
                                <form id = "chatTextForm" class="mt-1" action = "#chatTextForm">
                                  <div class="row" id="chatInputField" style="visibility: hidden">
                                      <div class="col-md-10">
                                        <input id = "chatInput" type="text" class="form-control form-control-lg" placeholder="Enter Your Chat Message" required>
                                      </div>
                                      <div class="col-md-2">
                                        <button id = "sendChatButton" class="btn btn-default" type = "submit">Send <i class="fas fa-paper-plane ml-1"></i></button>
                                      </div>
                                  </div>
                                </form>
                              </div>
                            </div>

                  </div>
                  <!-- /Panel 2 -->

                </div>
                <!-- Tab panels -->
            </div>
        </div>

    </div>
</main>

<!-- Invite Modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share to Friends</h5>
        <button type="button" class="close" id="closeInviteBtn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprocurementmonitor.org%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore" ><button class="btn btn-primary fb-share-button"   data-href="https://procurementmonitor.org" data-layout="button" data-size="small">
          Share to Facebook <i class="fab fa-facebook"></i>
          </button></a>
          <a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet"><button class="btn btn-info">Share to Twitter <i class="fab fa-twitter"></i></button></a>
        </div>

        <hr/>

        <p class="text-center">Or send Email Invite</p>
        <form class="text-center" id="clientInvite">
          <div class="md-form">
            <input type="email" name="email" id="inviteEmail">
            <button type="submit" id="submitInvite" class="btn btn-elegant">Send</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{{! contact client modal  }}
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <input type = "hidden" id = "taskId"/>
  <input type = "hidden" id = "lawyerId" value = "{{uid}}"/>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id = "clientName">
          John Doe
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-3">
        <div class="text-center" id = "clientDetailsList">
          <img src="${task.lawyer.photoUrl}" class="rounded-circle z-depth-0 mr-2"
          alt="lawyerPic" height="100">
          <hr width="50" />
          <ul class="list-group" >
              <li class="list-group-item"></li>
              <li class="list-group-item"></li>
              <li class="list-group-item"></li>
              <li class="list-group-item"></li>
              <li class="list-group-item"></li>
          </ul>
        </div>

      </div>
      <div class="modal-footer">
        <a type="button" id = "callButton" class="btn btn-info" href="tel:07038334703">Call</a>
        <a type="button" id = "chatWithClientButton" class="btn btn-default"  onclick="chatWithClient()">Chat</a>
      </div>
    </div>
  </div>
</div>

{{! chat modal  }}
<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby=""
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">
          Chat
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

{{! meeting modal  }}
<div class="modal fade" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby=""
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mx-auto">
        <h5 class="modal-title text-center">
          Schedule Meeting
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="p-2 mx-auto">

          <form id="scheduleMeetingForm">
            <input type="date" class="form-control pl-3" id="date" placeholder="Set date" id="scheduleDate" />
            <br/>
            <input class="form-control" placeholder="Set time" id="scheduleTime" />

            <div class="text-center">
              <button type="submit" class="btn">Set</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


{{> footer}}

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="{{ABS_PATH}}js/lawyer/lawyer.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
