{{> header}}
<style>
  @media only screen and (max-width: 600px) {
    #inviteModalDiv * {
      display: flex;
      justify-content: center;
      margin: 0 25%;
    }
  }
</style>
<header>
  <!--Navbar -->
  <nav class="mb-1 pt-3 pb-3 navbar navbar-expand-lg navbar-dark special-color">
    <a class="navbar-brand default-color p-3" href="#">{{AppName}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item avatar">
            <a class="nav-link p-0" href="#">
            <img src="{{ photoUrl }}" class="rounded-circle z-depth-0"
                alt="avatar image" height="40">
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" href="{{ABS_PATH}}logout">
            <i class="fas fa-sign-out-alt"></i> Logout
          </a>
        </li>
      </ul>

        
    </div>
  </nav>
  <!--/.Navbar -->
</header>

<input type = "hidden" name = "uid" id = "uid" value = "{{uid}}" />

<main style="min-height:100vh">
    <div class="row pt-5">
        <div class="col-md-3" style="border-right: 1px solid grey">
            <img src="{{photoUrl}}" width="150" class="rounded-circle mx-auto d-block" alt="profile_pic">
            <hr/>
            <div class="text-center">
                <h3>{{ name }}</h3>
                <hr/>
                <a class="btn text-dark" href="/lawyer/profile">Complete your profile</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="text-right" id="inviteModalDiv">
              <a class="btn btn-default" data-toggle="modal" data-target="#inviteModal">Invite a friend</a>
            </div>
            <br />
            <div class="container">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs md-tabs nav-justified default-color" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link black-text active" data-toggle="tab" href="#panel555" role="tab">
                      <i class="fas fa-gavel"></i> Tasks</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link black-text" data-toggle="tab" href="#panel666" role="tab">
                      <i class="far fa-comment-alt"></i> Chats</a>
                  </li>
                </ul>
                <!-- Nav tabs -->

                <!-- Tab panels -->
                <div class="tab-content">

                  <!-- Panel 1 -->
                  <div class="tab-pane fade in show active" id="panel555" role="tabpanel">

                    <h4 class="mt-2r">Tasks</h4>
                    <hr/>
                    <table class="table table-bordered tale-striped" id="casesTable">
                        <thead class="black white-text">
                            <col width="50">
                            <col width="50">
                            <col width="50">
                            <col width="80">
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Client</th>
                                <th scope="col">Tasks</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>John doe</td>
                                <td>A vs B</td>
                                <td>
                                  <button class="btn btn-default" data-toggle="modal" data-target="#contactModal">Contact</button>
                                  <button class="btn" data-toggle="modal" data-target="#chatModal">Chat</button>
                                  <button class="btn" data-toggle="modal" data-target="#meetingModal">Schedule Meeting</button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jane doe</td>
                                <td>Theft case</td>
                                <td>
                                  <button class="btn btn-default" data-toggle="modal" data-target="#contactModal">Contact</button>
                                  <button class="btn" data-toggle="modal" data-target="#chatModal">Chat</button>
                                  <button class="btn" data-toggle="modal" data-target="#meetingModal">Schedule Meeting</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                  </div>
                  <!-- /Panel 1 -->

                  <!-- Panel 2 -->
                  <div class="tab-pane fade container mt-2" id="panel666" role="tabpanel">

                           <div class="row">
                              <div class="col-md-2 px-3 default-color">
                                <a class="card my-2 p-2">Person 1</a>
                                <a class="card my-2 p-2">Person 2</a>
                                <a class="card my-2 p-2">Person 3</a>
                                <a class="card my-2 p-2">Person 4</a>
                              </div>
                              <div class="col-md-10">
                                <div class="border">
                                  <h4 class="mb-2">Messages</h4>
                                  <section class="client__chat">
                                    <div class="container">
                                      <img src="" alt="Avatar" style="width:50;">
                                      <p>Hello. How are you today?</p>
                                      <span class="time-right">11:00</span>
                                    </div>

                                    <div class="container darker">
                                      <img src="" alt="Avatar" class="right" style="width:50;">
                                      <p>Hey! I'm fine. Thanks for asking!</p>
                                      <span class="time-left">11:01</span>
                                    </div>

                                    <div class="container">
                                      <img src="" alt="Avatar" style="width:50;">
                                      <p>Sweet! So, who do you wanna sue today?</p>
                                      <span class="time-right">11:02</span>
                                    </div>

                                    <div class="container darker">
                                      <img src="" alt="Avatar" class="right" style="width:50;">
                                      <p>Nah, I dunno. My ex?</p>
                                      <span class="time-left">11:05</span>
                                    </div>
                                  </section>

                                </div>
                              </div>
                            </div>

                  </div>
                  <!-- /Panel 2 -->

                </div>
                <!-- Tab panels -->
            </div>
        </div>

    </div>
</main>

<!-- Invite Modal -->
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share to Friends</h5>
        <button type="button" class="close" id="closeInviteBtn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fprocurementmonitor.org%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore" ><button class="btn btn-primary fb-share-button"   data-href="https://procurementmonitor.org" data-layout="button" data-size="small">
          Share to Facebook <i class="fab fa-facebook"></i>
          </button></a>
          <a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet"><button class="btn btn-info">Share to Twitter <i class="fab fa-twitter"></i></button></a>
        </div>

        <hr/>

        <p class="text-center">Or send Email Invite</p>
        <form class="text-center" id="clientInvite">
          <div class="md-form">
            <input type="email" name="email" id="inviteEmail">
            <button type="submit" id="submitInvite" class="btn btn-elegant">Send</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{{! contact client modal  }}
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">
          John Doe
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-2">
        <div class="text-center p-2">
          <img src="{{ photoUrl }}" class="rounded-circle z-depth-0"
              alt="avatar image" width="70">
        </div>
        <hr width="50" />
        <div class="text-center p-3">
          <p><b><i class="fas fa-phone"></i></b> 0701234567</p>
          <p><b><i class="fas fa-envelope"></i></b> someone@example.com</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{! chat modal  }}
<div class="modal fade" id="chatModal" tabindex="-1" role="dialog" aria-labelledby=""
  aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">
          Chat
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>

{{! meeting modal  }}
<div class="modal fade" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby=""
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header mx-auto">
        <h5 class="modal-title text-center">
          Schedule Meeting
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="p-2 mx-auto">

          <form id="scheduleMeetingForm">
            <input type="date" class="form-control pl-3" placeholder="Set date" id="scheduleDate" />
            <br/>
            <input class="form-control" placeholder="Set time" id="scheduleTime" />

            <div class="text-center">
              <button type="submit" class="btn">Submit</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


{{> footer}}

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="{{ABS_PATH}}js/lawyer/lawyer.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>

<script>
  $("#scheduleTime").flatpickr({
    enableTime: true,
    noCalendar: true,
    dateFormat: "H:i",
  });
</script>
