{{> header}}


<div class="container">
    <div class="card mt-5 mb-5">
        <h5 class="card-header light-blue lighten-4 text-center py-4">
            <strong>Choose a password to continue</strong>
        </h5>

        <div class="card-body px-lg-5">

            <form method = "POST" class="text-center" style="color: #757575;" id="laywerPassword">
                <div class="md-form mt-0">
                    <input type="password" id="pwd" name="password" class="form-control">
                    <label for="email">Password</label>
                </div>

                 <div class="md-form mt-0">
                    <input type="password" id="pwd2" name="password" class="form-control">
                    <label for="pwd">Re-type Password</label>
                </div>

                <button class="btn btn-outline-dark btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Continue</button>

                <hr>

            </form>
            <!-- Form -->

        </div>

    </div>
</div>

{{> footer}}

<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/form2js.js"></script>
<script src="{{ABS_PATH}}js/admin_auth.js"></script>