{{> header}}
Hello {{ name }}, welcome to the A&E Virtual Law Firm Portal. This Portal provides you with the ability to render legal services to clients around the world from the comfort of your home or place of work. 

Complete your profile to get started. Your virtual law office is just a few clicks away. 

Start button
Type in your name as you would like it to appear to prospective clients
Select a profile picture
Choose your password
Retype password
Complete your profile:
Supreme Court Enrolment Number
Address
Country
L.G.A/County of residence
Account details
Bank Name
Account number
Bank Verification number
Upload Valid ID Card
Upload Certificates (Max 5, Min 3)
Upload a brief profile (200 words max)
Do you have a criminal record?
Are you the subject of any ongoing criminal investigation
Have you ever been=== indicted for professioal misconduct?
Do you have against you an ongoing investigation for misconduct?
Year of enrolment
Two Areas of specialization
Select Tags
Work experience
Select consultation fee


Thank you for signing up for your virtual law firm. We will review the information you have provided and send you an email when your registration has been approved. For now
