{{> header}}
<style>
    #dashboard-main .sidenav,
    #dashboard-main .main-content {
        margin-top: 6vh;
    }
    #dashboard-main .nav-item {
        margin: 1vh 0;
    }
    #dashboard-main .nav-item a {
        color: #fff;
        opacity: 0.9;
    }
    #dashboard-main a.nav-link.active {
        background: rgba(59, 209, 199, 0.5) !important;
    }
    
    .chat.list-group-item {
        margin: 10px 0;
        width: 80%;
        max-width: 80%;
        border-radius: 20px;
    }
    .lawyer-msg {
        background: #fff;
    }
    .client-msg {
        background: #dcdcdc;
    }
    img.rounded-circle {
        width: 60px;
        height: 60px;
    }
    .lawyer-tags {
        display: inline-block;
        box-sizing: border-box;
        font-size: .7rem;
        background: var(--accent-colr);
        padding-left: 8px;
        padding-right: 8px;
        color: white;
        border-radius: 10px;
        margin-left: 5px;
    }

    .lawyer-info {
        font-size: .8rem;
        color: rgb(102, 95, 95);
        display: inline-block;
    }

    .lawyer-card {
        cursor: pointer;
    }

    .lawyer-feature-header {
        font-size: .5rem;
        color: rgb(114, 111, 111);
        display: block;
    }
</style>
<link rel="stylesheet" href="{{ABS_PATH}}stylesheets/dashboard.css">

{{> dashboard-nav}}

<main class="row mb-5" id="dashboard-main">
    <div class="col-md-2" id="sidenav" style="background:#406966;height">
        <ul class="nav nav-pills mb-3 flex-column sidenav" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="dashboard-pill-tab" data-toggle="pill" href="#dashboard-pill" role="tab"
                aria-controls="dashboard-pill" aria-selected="true"><i class="fas fa-tachometer-alt mr-3"></i>&nbsp; <span>Dashboard</span></a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link" id="chat-tab" data-toggle="pill" href="#chat" role="tab"
                aria-controls="chat" aria-selected="false"><i class="far fa-comments mr-3" aria-hidden="true"></i> <span>Chat</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="settings-tab" data-toggle="pill" href="#settings" role="tab"
                aria-controls="settings" aria-selected="false"><i class="fas fa-cogs mr-3" aria-hidden="true"></i> <span>Settings</span></a>
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <div class="tab-content pt-2 pl-1 main-content" id="pills-tabContent">
            {{! main dashboard tab }}
            <div class="tab-pane fade show active" id="dashboard-pill" role="tabpanel" aria-labelledby="dashboard-pill-tab">
                <div class="card col-4 bg-default text-white">
                    <div class="card-body mt-3">
                        <h5 class="card-title">Hello {{displayName}},</h5>
                    </div>
                </div>
                <div class="row container my-3 text-center">
                    <div class="col-sm-4 mb-3 mb-md-0">
                        <div class="card teal lighten-5">
                            <div class="card-body">
                                <h5 class="card-title">Active Consultation</h5>
                                <h1><i class="fas fa-hands-helping"></i> <span id = "activeConsulting">2</span></h1>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card teal lighten-5">
                            <div class="card-body">
                                <h5 class="card-title">Completed Consultation</h5>
                                <h1><i class="far fa-handshake"></i> <span id = "closedConsulting">2<span></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <h4>Consultations</h4>
                <div id = "consultations" class="row row-cols-1 row-cols-md-2 mt-5 pt-3 ml-2" id="fetchMatchingLawyers">
                    
                </div>
                {{^profileComplete}}
                <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
                    <strong>Profile Incomplete</strong> Click <a href="{{ABS_PATH}}lawyer/profile" class="alert-link">Here</a> to complete your profile
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{/profileComplete}}
            </div>

           

            {{! my docs tab  }}
            <div class="tab-pane fade" id="docs" role="tabpanel" aria-labelledby="docs-tab">My Docs<br/>Under Construction...</div>

            {{! chat tab  }}
            <div class="tab-pane fade" id="chat" role="tabpanel" aria-labelledby="chat-tab">
                <div class="row container">
                    <div class="col-md-3 text-center">
                        <ul id="chatList" class="nav nav-pills border mb-0 mb-3 flex-column shadow pt-3" id="pills-tab" role="tablist">
                        </ul>
                    </div>
                    <div class="col-md-9 rounded mb-0 px-3 pt-3" style="background:#C8F2EF;">
                        <section style="height:50vh;overflow-y:scroll" id="chatsParent">
                            <section id="chatsContainer">
                                <h5>Click a Chat to view messages here</h5>
                            </section>
                        </section>
                        <form id="chatTextForm" class="my-1" style="display:none">
                            <div class="d-flex justify-content-between" id="chatInputField">
                                <input id="chatInput" type="text" class="form-control form-control-md" placeholder="Enter message here..." required />
                                <div class="input-group-append">
                                    <button id="sendChatButton" type="submit" class="input-group-text default-color"><i class="fas fa-paper-plane text-white"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {{! settings tab  }}
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
              <div class = "row">
                  <div class = "col-md-6">
                      <div class = "card h-100">
                          <div class = "card-body">
                              <form id="uploadPic" class="p-5" style = "max-width: 600px">
                              <h5 class = "mx-auto mb-3 text-center">Change your profile picture</h5>
                              <img id="chosenPic" src="{{photoURL}}" style="width:80;height:80" class="rounded-circle mx-auto d-block mb-3" alt="profile_pic">
                              <div class = "">
                                  <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="profilePic" accept="image/x-png,image/jpg,image/jpeg" required>
                                  <label class="custom-file-label" for="profilePic" data-browse="Select">Select a profile picture</label>
                                  </div>
                                  <button type="submit" class="btn btn-info mt-3" id="uploadPicBtn">Upload</button>
                              </div>
                              </form>
                          </div>
                      </div> 
                  </div>
                  <div class = "col-md-6">
                      <div class = "card h-100">
                          <div class = "card-body d-flex flex-column justify-content-center">
                              <form class ="" id ="changePasswordForm">
                                  <h5>Change password</h5>
                                  <div class = "mb-3">
                                      <label for = "password">New password</label>
                                      <input class = "form-control" type = "password" name = "password" id ="password" required/>
                                  </div>
                                  <div class = "mb-3">
                                      <label for = "confirm">Confirm password</label>
                                      <input class = "form-control" id = "contirm" type = "password" name = "confirm" required />
                                  </div>
                                  <button class = "btn lt-btn-accent" type ="submit" id = "changePasswordButton">Change</button>
                              </form>
                          </div>
                      </div>
                  </div>

                  <div class = "col-md-12">
                    <div class = "card h-100 my-5">
                      <div class = "card-body">
                        <div class = "d-flex flex-column justify-content-center align-items-center">
                              <a href = "{{ABS_PATH}}lawyer/profile" class = "btn btn-lg lt-btn-accent">Portfolio</a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            
            </div>
        </div>
    </div>
</main>

<section class="h-10"></section>



{{>userdata}}
{{> core}}
{{> footer-new}}







<script type = "text/javascript">
      if (window.location.href == 'http://localhost:3000/client/dashboard/#chat') {
        $("#chat-tab").trigger("click");
      }
</script>
 
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-storage.js"></script>

<!-- Add Firebase products that you want to use -->
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="{{ABS_PATH}}js/libraries/accounting.js"></script>
<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/lawyer/new-dashboard.js"></script>
