{{> header}}
{{> navbar}}

<main class="container py-5">
    <h3>Terms of Use for LawTrella Lawyer accounts</h3>
    <p class="text-muted"><em>Effective: 01/07/2020</em></p>
    <hr />

    <ol>
        <li>
            <h4>Contractual Relationship</h4>
            <p class="text-justify">
                These Lawyers Terms of Use (“Terms”) set forth the terms on which anyone may use a LawTrella Lawyer account
                (“Lawyer account”). To use a lawyer account, you must be a person qualified to practice law in the Federal
                Republic of Nigeria (a “Lawyer”). You must not be under any limitations as to your practice whether by
                reason of disbarment, suspension or court order or directive of any disciplinary body authorized within
                Nigeria to regulate law practice. If you provide legal services using a LawTrella Lawyer account, you agree
                that you perform such services as an independent attorney and not as a staff, contractor or agent of
                LawTrella Ltd or any of its subsidiaries, holding or group companies. You agree that you shall not state or
                otherwise imply that you are in the employment of LawTrella Ltd. and any of its subsidiaries, affiliates
                (collectively, "LawTrella") whether as a staff, contractor or agent. By continuing to use our services, you
                agree to be bound by these Terms, our General Terms of Use (“General Terms”) and our Privacy Policy.
            </p>
        </li>
        <li>
            <h4>The LawTrella Platform</h4>
            <p class="text-justify">
                The LawTrella Platform comprises web applications, mobile applications and related services either developed
                by LawTrella or acquired by it (each, an "Application"), which enable users to access eLearning, legal
                resources, engage legal services, purchase legal document templates, participate in discussion forums,
                chatrooms, find lawyers and Notaries through directories, connect with other providers of Legal Services,
                purchase products and services from listed vendors and other similar activities.
            </p>
        </li>
        <li>
            <h4>Ethical Standards</h4>
            <p class="text-justify">LawTrella abides by the ethical standards of the Nigerian Legal Profession. By using a
                Lawyer account, you agree to be bound by and to comply with the Rules of Professional Conduct, the Legal
                Practitioners Act 2007, and any other legal directive in Nigeria regulating law practice. These ethical
                requirements are herein described as the ethical standards of Nigerian Law Practice. You acknowledge that
                you have read and understood the obligations regarding lawyers conduct under the ethical standards of
                Nigerian Law Practice.</p>
        </li>
        <li>
            <h4>Complaints</h4>
            <p class="text-justify">
                LawTrella maintains a Complaints system for resolving disputes between Lawyers and Clients or between
                LawTrella and individual users. In the event of a dispute between you and LawTrella, whether regarding a
                transaction or a payment or access to a Service or any other issue that may arise from your use of the
                Service, you acknowledge that details of the matter may be manually or automatically sent for review by
                LawTrella’s complaints process. If you are not satisfied with the resolution of the Complaints, you may
                contact LawTrella directly by email sent to <strong>support@lawtrella.com</strong>.
            </p>
            <p class="text-justify" class="text-uppercase"><strong>IMPORTANT: PLEASE REVIEW THE ARBITRATION AGREEMENT SET
                    FORTH BELOW CAREFULLY, AS IT WILL REQUIRE YOU TO RESOLVE DISPUTES WITH LAWTRELLA ON AN INDIVIDUAL BASIS
                    THROUGH FINAL AND BINDING ARBITRATION. BY ENTERING THIS AGREEMENT, YOU EXPRESSLY ACKNOWLEDGE THAT YOU
                    HAVE READ AND UNDERSTAND ALL OF THE TERMS OF THIS AGREEMENT AND HAVE TAKEN TIME TO CONSIDER THE
                    CONSEQUENCES OF THIS IMPORTANT DECISION.</strong></p>
        </li>
        <li>
            <h4>Arbitration Agreement</h4>
            <p class="text-justify">
                By agreeing to the Terms, you agree that you are required to resolve any claim that you may have against
                LawTrella on an individual basis in arbitration, as set forth in this Arbitration Agreement. This will
                preclude you from bringing any class, collective, or representative action against LawTrella, and also
                preclude you from participating in or recovering relief under any current or future class, collective,
                consolidated, or representative action brought against LawTrella by someone else.
            </p>

            <h5><strong>Agreement to Binding Arbitration Between You and LawTrella.</strong></h5>
            <p class="text-justify">
                You and LawTrella agree that any dispute, claim or controversy arising out of or relating to (a) these Terms
                or the existence, breach, termination, enforcement, interpretation or validity thereof, or (b) your access
                to or use of the Services at any time, whether before or after the date you agreed to the Terms, will be
                settled by binding arbitration between you and LawTrella, and not in a court of law.
            </p>
            <p class="text-justify">
                You acknowledge and agree that you and LawTrella are each waiving the right to a trial or to participate as
                a plaintiff or class member in any purported class action or representative proceeding. Unless both you and
                LawTrella otherwise agree in writing, any arbitration will be conducted only on an individual basis and not
                in a class, collective, consolidated, or representative proceeding. However, you and LawTrella each retain
                the right to bring an individual action in small claims court and the right to seek injunctive or other
                equitable relief in a court of competent jurisdiction to prevent the actual or threatened infringement,
                misappropriation or violation of a party's copyrights, trademarks, trade secrets, patents or other
                intellectual property rights.
            </p>

            <h5><strong>Rules and Governing Law.</strong></h5>
            <p class="text-justify">The arbitration will be administered in accordance with the Arbitration and Conciliation
                Act Cap. A18, Laws of the Federation of Nigeria, 2004 (“The Arbitration Act”) except as modified by this
                Arbitration Agreement.</p>
            <p class="text-justify">
                The parties agree that the arbitrator ("Arbitrator"), and not any federal, state, or local court or agency,
                shall have exclusive authority to resolve any disputes relating to the interpretation, applicability,
                enforceability or formation of this Arbitration Agreement, including any claim that all or any part of this
                Arbitration Agreement is void or voidable. The Arbitrator shall also be responsible for determining all
                threshold arbitrability issues, including issues relating to whether the Terms are unconscionable or
                illusory and any defense to arbitration, including waiver, delay, laches, or estoppel.
            </p>

            <h5>Process and Location.</h5>
            <p class="text-justify">
                A party who desires to initiate arbitration must provide the other party with a written Demand for
                Arbitration as specified in the Arbitration Act. The Arbitrator will be either (1) a retired judge or (2) a
                member of the Nigerian Institute of Chartered Arbitrators (NICArb), Chartered Institute of Arbitrators UK
                (Nigeria Branch) or the International Centre for Arbitration and Mediation Abuja (ICAMA) not below the rank
                of Fellow. The Arbitration may be conducted virtually or physically at a location to be determined by the
                Arbitrator.
            </p>

            <h5><strong>Arbitrator's Decision.</strong></h5>
            <p class="text-justify">
                The Arbitrator will render a decision within the time frame specified in the Arbitration Act. Judgment on
                the arbitration award may be entered in any court having competent jurisdiction to do so. The Arbitrator may
                award declaratory or injunctive relief only in favor of the claimant and only to the extent necessary to
                provide relief warranted by the claimant's individual claim. An Arbitrator’s decision shall be final and
                binding on all parties. An Arbitrator’s decision and judgment thereon shall have no precedential or
                collateral estoppel effect. If you prevail in arbitration you will be entitled to an award of attorneys'
                fees and expenses, to the extent provided under applicable law. LawTrella will not seek, and hereby waives
                all rights LawTrella may have under applicable law to recover attorneys' fees and expenses if LawTrella
                prevails in arbitration.
            </p>

            <h5><strong>Fees.</strong></h5>
            <p class="text-justify">
                Your responsibility to pay any filing, administrative and arbitrator fees will be solely as set forth in the
                Arbitration Act or specific rules of the appointed Arbitrator. ).
            </p>

            <h5><strong>Changes.</strong></h5>
            <p class="text-justify">
                Notwithstanding the provisions in Section I above, regarding consent to be bound by amendments to these
                Terms, if LawTrella changes this Arbitration Agreement after the date you first agreed to the Terms (or to
                any subsequent changes to the Terms), you may reject any such change by providing LawTrella written notice
                of such rejection within 30 days of the date such change became effective, as indicated in the "Effective"
                date above. This written notice must be provided either (a) by mail or hand delivery to our registered
                address for service of process, or (b) by email from the email address associated with your Account to:
                notices@lawtrella.com. In order to be effective, the notice must include your full name and clearly indicate
                your intent to reject changes to this Arbitration Agreement. By rejecting changes, you are agreeing that you
                will arbitrate any dispute between you and LawTrella in accordance with the provisions of this Arbitration
                Agreement as of the date you first agreed to the Terms (or to any subsequent changes to the Terms).
            </p>

            <h5><strong>Severability and Survival.</strong></h5>
            <p class="text-justify">
                If any portion of this Arbitration Agreement is found to be unenforceable or unlawful for any reason, (1)
                the unenforceable or unlawful provision shall be severed from these Terms; (2) severance of the
                unenforceable or unlawful provision shall have no impact whatsoever on the remainder of the Arbitration
                Agreement or the parties’ ability to compel arbitration of any remaining claims on an individual basis
                pursuant to the Arbitration Agreement; and (3) to the extent that any claims must therefore proceed on a
                class, collective, consolidated, or representative basis, such claims must be litigated in a civil court of
                competent jurisdiction and not in arbitration, and the parties agree that litigation of those claims shall
                be stayed pending the outcome of any individual claims in arbitration.
            </p>
        </li>
        <h4><strong>Find a Lawyer</strong></h4>
        <li>
            <h4>Find a Lawyer</h4>
            <p class="text-justify">
                LawTrella has a directory service known as Find a Lawyer. It displays the profiles of Lawyers on LawTrella
                and allows users to view their qualifications, location and area of practice. By using a Lawyer account, you
                agree to have your profile listed in LawTrella’s Lawyer directory service (“Find a Lawyer”). You also agree
                that users may find you through your name or your area of specialization or by any other search methods used
                on the LawTrella platform.
            </p>
        </li>
        <li>
            <h4>Calendars</h4>
            <p class="text-justify">
                LawTrella Lawyer accounts have an inbuilt calendar which is visible to all users of the site (see our
                privacy policy for more on this). The calendar displays a lawyer's available meeting hours and users may
                request a briefing consultation or request to book a follow-up meeting on a Brief.
            </p>
        </li>
        <li>
            <h4>Chat, call and Video services</h4>
            <p class="text-justify">
                The LawTrella platform includes text, call and video conferencing services. By using a LawTrella account,
                you agree to abide by our virtual consulting rules. You can read these rules here.
            </p>
        </li>
        <h4><strong>Virtual Consulting</strong></h4>
        <li>
            <h4>Initial Consultation:</h4>
            <p class="text-justify">
                By using a LawTrella lawyer account, you agree that users may request an initial consultation with you at
                any of your available meeting hours. You will have the options of (a) accepting the consultation at the
                requested time and day; (b) accepting the consultation and suggesting another available time to the client;
                (c) passing the request to another lawyer; (d) declining the request. If you fail to exercise any of these
                options within 24 hours of the request being made, the request will automatically pass to another lawyer.
            </p>
        </li>
        <li>
            <h4>Engagement of legal services</h4>
            <p class="text-justify">
                At the end of an initial consultation, a lawyer has the option to accept or decline a Brief. If you choose
                to accept, a Brief will be created on your account in the name of the client. For all intent and purposes, a
                Brief opened on your account creates an Attorney-Client relationship between you and the user in whose name
                it was opened. LawTrella is not a party to that relationship and all communications between the lawyer and
                the client are secured and privileged.
            </p>
        </li>
        <li>
            <h4>Briefs</h4>
            <p class="text-justify">
                When a Brief is opened between you and a client, you will have access to a set of applications that will
                enable you to communicate with the client and manage certain aspects of the Brief. These may include
                Real-time messaging, Voice call, Video call, Live Interactive Audio and Video Streaming, Recording, File
                Sharing, Billing and Payment. Read our <a href="https://www.lawtrella.com/privacy">privacy policy</a> to
                find out how this data is used.
            </p>
        </li>
        <li>
            <h4>Lawyers Deliverables:</h4>
            <p class="text-justify">
                Both parties shall agree on a list of deliverables which will define the scope of work to be done. Scheduled
                payments may or may not be tied to certain deliverables which the Lawyer is expected to meet. When this is
                the case, it is the client’s duty to mark deliverables as received. Notwithstanding a given due date, a
                payment will not become due until the deliverable to which it has been tied has been marked as received.
            </p>
        </li>
        <li>
            <h4>Rates & Billing:</h4>
            <p class="text-justify">
                When you use a Lawyer account, you are free to pick any of our Billing methods. When a Brief is created, a
                payment schedule is also created and you are required to input the total sum which the client has been
                charged and the consecutive due dates of each payment. In the case of a retainer, the period covered by the
                total sum will be indicated and the payment schedule will contain the dates when each payment will be due.
                You may freely set rates for your various services. These rates will be visible by all who can view your
                profile (read about profile visibility here). Alternatively, you may choose the option of contingent billing
                in which case, both parties must agree on the total sum to be paid and create a payment schedule.
            </p>
        </li>
        <li>
            <h4>Payment Schedule</h4>
            <p class="text-justify">
                Under a Brief, either party may create a schedule for payment of costs and fees. The schedule, when
                completed, shall be binding on the client. It shall denote the total financial implication of the Brief and
                any invoice, payment or cost not included in the payment schedule shall not be considered as part of the
                Brief. The payment schedule may be amended by either party but subject to approval of the other party. It is
                your responsibility to ensure that the payment schedule at all times reflects the financial obligations of
                the client. It is the client's duty to make payment as at when due.
            </p>
        </li>
        <li>
            <h4>Additional fees</h4>
            <p class="text-justify">
                After the parties have agreed on a total sum, you may request additional fees in the event that a
                modification is made to the Brief’s deliverables or there is any other unforeseen change in circumstances.
                Any additional fees requested by you and accepted by the client will be reflected in the total sum and
                included in the payment schedule.
            </p>
        </li>
        <li>
            <h4>Invoices</h4>
            <p class="text-justify">
                When a scheduled payment becomes due, you are required to send an invoice for it and clients will be
                required to make payments on those invoices. Each invoice has a unique reference number. Use this number if
                you need to report an outstanding payment.
            </p>
        </li>
        <li>
            <h4>Payments</h4>
            <p class="text-justify">
                Billing can occur anytime while a Brief is open. You may send an invoice to a client for the payment of
                costs and fees either at the opening of a Brief, or anytime prior to it’s closing. If an invoice remains
                unsettled for up to 72 hours after it has become due, you may make a complaint to LawTrella.
            </p>
        </li>
        <li>
            <h4>Tax</h4>
            <p class="text-justify">
                Applicable Taxes shall be included in the total sum.
            </p>
        </li>
        <li>
            <h4>Modifications and/or Revisions to deliverables</h4>
            <p class="text-justify">
                Should a client request any modifications and/or changes be made to the terms of a deliverable, such
                modifications and/or changes must be agreed to by the Lawyer. You may accept the modification, simply, or
                you may accept the modification with a request for additional fees. Such additional fees must be accepted by
                the client before the modification will be reflected in the deliverables.
            </p>
        </li>
        <li>
            <h4>Cancellation Policy</h4>
            <p class="text-justify">
                In the event that a client requests to delete a deliverable prior to its due date, you will have the option
                of accepting the deletion. In which case, you may make an amendment to the payment schedule. If you choose
                to reject a cancellation request, a complaint will automatically be created and information relating to the
                request may be accessed by LawTrella. Any payment tied to the deliverable will be suspended pending the
                determination of the review. You may be required to make a defence to LawTrella in order to ascertain the
                expended costs associated with the deliverable and the relevant charges that may be made on those costs
                before the cancellation can be accepted.
            </p>
        </li>
        <li>
            <h4>Closing a Brief</h4>
            <p class="text-justify">
                A client may request to close a brief at any time after it is opened. It is the lawyer’s duty to ensure that
                all outstanding deliverables and invoices have been settled. By closing a Brief, you affirm that the work
                has been completed to the client’s satisfaction. Note that by closing a Brief, you acknowledge that all
                outstanding invoices have been settled. LawTrella will not permit you to demand any fees, reimbursements or
                charges of any sort after a brief has been closed.
            </p>
        </li>
        <li>
            <h4>Notary Public Directory</h4>
            <p class="text-justify">
                LawTrella’s Services include a Notary Public’s Directory. To submit your information for listing, you must
                be registered using a Lawyers account. By submitting your information for listing on the Notary Public
                Directory, you warrant that you are a Notary Public appointed pursuant to the Notary Public Act, Laws of the
                Federation of Nigeria, 2004. You acknowledge that the information you provide for your listing will be
                displayed on our platform and users of our services will be able to obtain your information from our site
                and contact you.
            </p>
        </li>
        <h4><strong>Privacy and Security</strong></h4>
        <li>
            <h4>Right to Access/Disclosure of Information</h4>
            <p class="text-justify">
                In the event of a dispute as to payment or work quality, LawTrella has the right to access all the
                information pertaining to a Brief including deliverables, payment schedules, chat histories, and file logs,
                subject to our privacy policy. Any information collected under this head shall be used only for quality
                assurance purposes.
            </p>
        </li>
        <li>
            <h4>Use of Internet, Use of the LawTrella Platform</h4>
            <p class="text-justify">
                LawTrella will allow transaction processing, accept data transmitted and transmit data via the Internet
                using our supplied or mutually agreed-upon processes, formats, transactions, and/or software products.
                Related to these Internet usages, you are responsible for the use and security of your own web browser(s).
                LawTrella assumes no risk for the performance of your web browser(s) or your provided ISP associated
                software and/or hardware. While LawTrella will take reasonable measures to ensure the integrity, delivery
                and security of data transmissions, LawTrella assumes no liability of any data once transported and/or
                transmitted on to the public facility of the Internet.
            </p>
        </li>
        <li>
            <h4>Device access</h4>
            <p class="text-justify">
                You are responsible for the security of your hardware devices. LawTrella recommends using password
                protection on any device associated with a Lawyer account. LawTrella will not be responsible for a
                confidentiality breach that occurs as a result of authorized or unauthorized access to any of your devices.
            </p>
        </li>
        <li>
            <h4>Payment information is maintained by a third-party provider</h4>
            <p class="text-justify">
                Lawtrella uses third-party providers for payments. As such, no credit card or bank account information is
                stored by Lawtrella. You can view the payment providers privacy statement here.
            </p>
        </li>
        <li>
            <h4>Account Authentication</h4>
            <p class="text-justify">
                All accounts are protected by an Account ID and password. We encourage you to use strong and unique
                passwords, protect them from others, and change them often. We do not store sensitive user data in cookies
                or utilize other high-risk user or session tracking methods.
            </p>
        </li>
        <li>
            <h4>Data Harvesting Protection</h4>
            <p class="text-justify">
                Where appropriate, Lawtrella implements human verification security measures to prevent access, extraction
                and/or harvesting of data by a bot or web crawler.
            </p>
        </li>
        <li>
            <h4>Collection of Information</h4>
            <p class="text-justify">
                In addition to the information you submit to or through the Site, we may also collect and store information
                from and about you in the course of your use of the Site. We may use this information to analyze and track
                user behaviour, personalize your experience, enhance Site functionality, improve the quality of the Site,
                and may use it to display relevant advertising or services.
            </p>
            <h5><strong>Read more about this in our <a href="https://www.lawtrella.com/privacy">privacy policy</a>.</strong>
            </h5>
        </li>
        <li>
            <h4>Data Retention and Account Termination</h4>
            <p class="text-justify">
                The information we obtain from or about you may be processed and stored in Nigeria or any other jurisdiction
                from where LawTrella’s services are operated. We may keep it as long as it is permitted or required under
                the law. If you terminate your account, we will remove your content, materials and/or information from the
                Site, but may retain your data for a period of 5 years (or longer if required by law) in our active systems
                in order to ensure our ability to satisfy the authorized uses under our privacy policy. For example, we may
                use retained data to prevent, investigate, or identify possible wrongdoing in connection with the Site or to
                comply with legal obligations. Please note that information may exist in backup storage even after it has
                been removed from our active databases. Contact us here to know more about this.
            </p>
        </li>
        <h4><strong>Practice of Law</strong></h4>
        <li>
            <h4>Legal Obligations of LawTrella</h4>
            <p class="text-justify">
                LawTrella offers Virtual Consulting facilities which allow Users to contact and engage Lawyers on the
                Network. The facilities include Real-time messaging, Voice call, Video call, Live Interactive Audio and
                Video Streaming, Recording, File Sharing, Billing and Payment. These applications are intended to help Users
                obtain and manage legal services. Some of these Applications may be offered through Third-Party Providers.
                LawTrella does not intervene in the selection or engagement process. You acknowledge that any Brief accepted
                by you and any Attorney-Client relationship formed between you and another User expressly excludes LawTrella
                and it’s affiliated. LawTrella does not endorse or recommend any of the Lawyers on our Platform. LawTrella
                makes no representation or warranty as to the qualifications or competency of any Lawyer or as to the
                accuracy or completeness of any Lawyer's work. You are solely responsible for carrying out the Client’s
                instructions and delivering services to their satisfaction.
            </p>
        </li>
        <li>
            <h4>Disputes</h4>
            <p class="text-justify">
                In the event of a dispute between you and another User on LawTrella, whether with regards to work quality,
                timeliness, charges or other reason that may arise in the course of your interaction, you may make a
                complaint to LawTrella. The issue will be treated through LawTrella’s customer support complaints system.
                You agree to comply with the Complaints resolution process and to provide any such information that will be
                requested by LawTrella.
            </p>

            <h5 class="text-uppercase"><strong>PLEASE READ THIS PART CAREFULLY AS IT CONCERNS YOUR RIGHTS</strong></h5>
            <p class="text-justify">
                You agree that you waive your rights to pursue a claim against LawTrella for the actions or omissions of a
                User on its Platform. You acknowledge that LawTrella is not a party to any legal relationship formed between
                you and a User on its platform.
            </p>
            <p class="text-justify">
                You acknowledge that you waive your rights to pursue a claim against LawTrella for its own actions subject
                to the Arbitration Agreement contained in these Terms.
            </p>
        </li>
        <li>
            <h4>Duty of Confidentiality</h4>
            <p class="text-justify">
                By using a Lawyer account, you warrant that any and all information received by you from a LawTrella user
                will be handled securely and kept in confidence. Information pertaining to a Brief shall be considered
                privileged communications between a lawyer and a client and may not be disclosed to a third party otherwise
                than in accordance with the ethical standards of Nigerian Law Practice. Where information is received from a
                user in an initial consultation but no legal relationship such as may impute attorney-client privilege is
                created after, you will still be required to maintain this duty of confidentiality. Failure to do so may
                amount to a breach of these Terms.
            </p>
        </li>
        <li>
            <h4>Availability and Obligations of Lawyers</h4>
            <p class="text-justify">
                LawTrella in no way warrants or guarantees that you will be available to accept a consultation. However, if
                you do accept a consultation, you are required to be available on those dates. In the event that you are
                unable to attend an accepted consultation, you are required to inform the user not later than 12 hours prior
                to the stated time and to request for a time change. Further, you are not obligated to accept a Brief after
                the initial consultation. You may simply decline the Brief and no relationship will be created between you
                and the client. You will however still be required to keep information received in the initial consultation
                confidential.
            </p>
        </li>
        <li>
            <h4>Specialization</h4>
            <p class="text-justify">
                When you create a lawyer account, you are required to enter a minimum of one and a maximum of three areas of
                specialization. By so doing, you warrant that you have attained considerable knowledge and experience in
                that area.
            </p>
        </li>
        <li>
            <h4>Work Quality</h4>
            <p class="text-justify">
                The quality of the work you deliver will be judged by the client. Where the client is unsatisfied, they may
                choose to not mark the deliverable as received. Should you disagree with this assessment, you can make a
                Complaint to LawTrella. LawTrella will endeavour to resolve the dispute but does not in any way warrant to
                ensure a favourable outcome for any party. LawTrella does not review the legal work provided by Lawyers
                through our platform. You are solely responsible for your own work product and general business activities
                to the exclusion of any other lawyer and LawTrella.
            </p>
        </li>
        <li>
            <h4>Profile Information</h4>
            <p class="text-justify">
                You are required to maintain an accurate description of your identity and your qualifications on your
                profile. You are not permitted to use nicknames or aliases in your username. You acknowledge that when you
                create a Lawyer account, the information you provide is reasonably similar to the information contained in
                your qualifications and accurately represents any additions or changes.
            </p>
            <p class="text-justify">
                You are prohibited from making any inaccurate assertions as to your identity, qualification and/or
                experience. You assert that the information you include in your profile is accurate and you acknowledge that
                providing LawTrella with any inaccurate information will amount to a breach of these Terms.
            </p>
            <p class="text-justify">
                You agree that you will not use a LawTrella Lawyer Account with a profile picture which is intended to
                mislead a User as to your appearance or identity.
            </p>
        </li>
        <li>
            <h4>LawTrella is not a Law firm and only serves to connect clients and Lawyers on its platform</h4>
            <p class="text-justify">
                LawTrella does not engage in nor provides any legal services, legal representation, legal advice, legal
                opinions, recommendations, or counselling. When you use a Lawyer account, you agree that you are neither an
                employee nor agents of LawTrella. LawTrella does not intervene in the selection or engagement process, nor
                does it review or approve the subject matter of Briefs created on its platform. LawTrella will not be held
                liable for your actions or omissions or the actions or omissions of any User.
            </p>
        </li>
        <li>
            <h4>Mandatory Continuing Legal Education</h4>
            <p class="text-justify">
                LawTrella is accredited by the Nigerian Bar Association Mandatory Continuing Legal Education Board as a
                course provider. If you complete a Law Course on LawTrella or participate in a training, seminar or any
                method of Education which is adjudged by the Nigerian Bar Association to constitute Mandatory Continuing
                Legal Education, the electronic certificate that will be issued by LawTrella will include the fact.
            </p>
        </li>
        <li>
            <h4>Indemnity</h4>
            <p class="text-justify">
                You agree to defend, indemnify and hold harmless, LawTrella Ltd, its affiliates and subsidiaries, and all of
                their respective directors, officers, employees, representatives, sales associates, proprietors, partners,
                shareholders, principals, agents, predecessors, successors and assigns from and against any and all claims,
                proceedings, damages, injuries, liabilities, losses, costs and expenses (including attorney’s fees and
                litigation expenses) relating to or arising from your use of any services provided by LawTrella, any breach
                by you of these Terms, your negligent or intentional acts, errors or omissions in regard to the subject
                matter of these Terms, or your failure to comply with applicable laws or regulations in your use of the
                LawTrella Platform.
            </p>
        </li>
        <li>
            <h4>Prevailing Agreement</h4>
            <p class="text-justify">
                These Terms shall govern, supersede and replace any and all communications from LawTrella whether on its
                Platform or third party services relating to the matters addressed herein and the contractual relationship
                of the parties. LawTrella may publish Supplemental terms to govern the use of certain Services such as
                policies for a particular event, program, activity or promotion, and such supplemental terms will be made
                available to you in connection with the applicable Service(s). Supplemental terms are in addition to and
                shall be deemed a part of, the Terms for the purposes of the applicable Service(s). Supplemental terms shall
                prevail over these Terms in the event of a conflict with respect to the applicable Services.
            </p>
            <p class="text-justify">
                LawTrella may amend these terms and such Amendments will be effective upon publication at this location.
            </p>
            <p class="text-justify">
                Your continued access or use of the Services after such publication confirms your consent to be bound by the
                Terms, as amended. If LawTrella changes these Terms after the date you first agreed to the Terms (or to any
                subsequent changes to these Terms), you may reject any such change by terminating your access or use of the
                Services by all necessary means.
            </p>
        </li>
        <li>
            <h4>Choice of Law</h4>
            <p class="text-justify">
                These Terms are governed by and construed in accordance with the laws of the Federal Republic of Nigeria,
                without giving effect to any conflict of law principles, except as may be otherwise provided in the
                Arbitration Agreement above or in supplemental terms.
            </p>
        </li>
        <li>
            <h4>Notice</h4>
            <p class="text-justify">
                LawTrella may give notice by means of a general notice on the Services, electronic mail to your email
                address in your Account, telephone or text message to any phone number provided in connection with your
                account, or by written communication sent by first-class mail or pre-paid post to any address connected with
                your Account. Such notice shall be deemed to have been given upon the expiration of 48 hours after mailing
                or posting (if sent by first class mail or pre-paid post) or 12 hours after sending (if sent by email or
                telephone). You may give notice to LawTrella, with such notice deemed given when received by LawTrella, at
                any time by first class mail or pre-paid post to our registered agent for service of process, c/o LawTrella
                Ltd. The name and current contact information for the registered agent in each state are available online
                here.
            </p>
        </li>
        <li>
            <h4>Waiver</h4>
            <p class="text-justify">
                Any failure on Lawtrellas part to exercise or enforce any right or provision of these Terms does not
                constitute a waiver of any such right or provision.
            </p>
        </li>
        <li>
            <h4>Execution</h4>
            <p class="text-justify">
                You acknowledge and understand that using a LawTrella Lawyer account or checking the box on Lawtrella Site
                referencing the terms and conditions of this Agreement; both constitute a legal signature confirming that
                you have reviewed and agreed to all Terms contained in this Agreement.
            </p>
            <h5 class="text-uppercase"><strong>I ACKNOWLEDGE THAT I HAVE READ THE ABOVE, UNDERSTAND SAME AND AGREE TO BE
                    LEGALLY BOUND BY ALL TERMS OF THIS AGREEMENT.</strong></h5>
        </li>
    </ol>
</main>

{{> footer}}