{{> header}}
{{> navbar}}

<main class="container py-5">
    <h3>Privacy Policy</h3>
    <p class="text-muted"><em>Effective: 01/07/2020</em></p>
    <hr />
    <section>
        <p class="text-justify">
            LawTrella builds technologies and services that enable people to connect with each other, build communities around
            shared interests and provide professional services. This page informs you of our policies regarding the collection,
            use and disclosure of Personal Information we receive from users of LawTrella.
        </p>
        <p class="text-justify">
            Your privacy matters to LawTrella (hereinafter referred to as either “LawTrella”, “we”, “our” or “us”). This Privacy
            Policy explains how we collect, use, disclose, and safeguard your information when you visit LawTrella, including
            any other media form, media channel, mobile website, or mobile application related or connected thereto
            (collectively, the “Site”). Please read this privacy policy carefully. If you do not agree with the terms of this
            privacy policy, please do not access the site.
        </p>
        <p class="text-justify">
            The Privacy Policy covers both “online” (e.g. web and mobile services, including any websites operated by us,
            however accessed and/or used, whether via personal computers, mobile devices or otherwise) and “offline” (e.g.
            collection of data through mailings or telephone) activities owned, operated, provided, or made available by
            LawTrella.
        </p>
        <p class="text-justify">
            This Privacy Policy also applies to your use of interactive features or downloads that: (i) we own or control; (ii)
            are available through the Services; or (iii) interact with the Services and post or incorporate this Privacy Policy.
        </p>
        <p class="text-justify">
            You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to
            have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy
            Policy by your continued use of the Site after the date such revised Privacy Policy is posted.
        </p>
    </section>

    <section class="pt-5">
        <h4>INFORMATION COLLECTION AND USE</h4>
        <p class="text-justify">
            LawTrella collects information you provide directly to us, such as data you provide when you create or edit your
            account, request services real time or on demand, or otherwise communicate with us. This information may include:
        </p>

        <h5>Personal Data</h5>
        <p class="text-justify">
            Includes personally identifiable information, such as your name, shipping address, email address, and telephone
            number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to
            us [when you register with the Site [or our mobile application,] when you choose to participate in various
            activities related to the Site [and our mobile application], such as online chat and message boards. You are under
            no obligation to provide us with personal information of any kind, however you may be required to do so in order to
            access certain features of the Site [and our mobile application].
        </p>

        <h5>Financial Data</h5>
        <p class="text-justify">
            Financial information, such as data related to your payment method (e.g. valid credit card number, card brand,
            expiration date) that we may collect when you purchase, order, return, exchange, or request information about our
            services from the Site [or our mobile application]. [We store only very limited, if any, financial information that
            we collect. Otherwise, all financial information is stored by our payment processor, *Paystack, Flutterwave, Remita,
            [other], and you are encouraged to review their privacy policy and contact them directly for responses to your
            questions.
        </p>

        <h5>Third-Party Data</h5>
        <p class="text-justify">
            Information from third parties, such as personal information or network friends, if you connect your account to the
            third party and grant the Site permission to access this information.
        </p>
        <p class="text-justify">
            This may also include user information from social networking sites, such as The Apple App store or Android Play
            Store, Facebook, Google+, Instagram, Twitter], including your name, your social network username, location, gender,
            birth date, email address, profile picture, and public data for contacts, if you connect your account to such social
            networks.
        </p>
    </section>

    <section class="pt-5">
        <h4>USE OF YOUR INFORMATION</h4>
        <p class="text-justify">
            Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience.
            Specifically, we may use information collected about you via the Site [or our mobile application] to:
        </p>

        <ul list-style-type="disc">
            <li>Create and manage your account.</li>
            <li>Provide some of your information such as your name, description of the legal matter and contact information to
                the lawyer assigned to handle your Brief. </li>
            <li>Deliver targeted advertising, coupons, newsletters, and other information regarding promotions and the Site [and
                our mobile applications] to you. </li>
            <li>Email you regarding your account or order.</li>
            <li>Compile anonymous statistical data and analysis for use internally or with third parties.</li>
            <li>Fulfil and manage purchases, orders, payments, and other transactions related to the Site [and our mobile
                applications].</li>
            <li>Generate a personal profile about you to make future visits to the Site [and our mobile application] more
                personalized.</li>
            <li>Increase the efficiency and operation of the Site by closely monitoring which features of the Services are used
                most to determine where we should offer or focus services, features and/or resources.</li>
            <li>Notify you of updates to the Site [and our mobile applications].</li>
            <li>Offer new products, services, [mobile applications,] and/or recommendations to you.</li>
            <li>Process payments and refunds.</li>
            <li>Request feedback and contact you about your use of the Site [and our mobile applications].</li>
            <li>Resolve disputes and troubleshoot problems.</li>
            <li>Respond to product and customer service requests.</li>
        </ul>
    </section>

    <section class="pt-5">
        <h4>DISCLOSURE OF YOUR INFORMATION</h4>
        <p class="text-justify">
            LawTrella may share information that we have collected about you in certain situations. Such information may be
            disclosed as follows:
        </p>

        <p><strong>By Law or to Protect Rights:</strong></p>
        <p class="text-justify">
            If LawTrella has cause to believe that the release of information about you is necessary to respond to legal
            process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and
            safety of others, we may share your information as permitted or required by any applicable law, rule, or regulation.
            This includes exchanging information with other entities for fraud protection and credit risk reduction.
        </p>

        <p><strong>Third-Party Service Providers:</strong></p>
        <p class="text-justify">
            We may share your information with third parties that perform services for us or on our behalf, including payment
            processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.
        </p>

        <p><strong>Marketing Communications:</strong></p>
        <p class="text-justify">
            With your consent, or with an opportunity for you to withdraw consent, we may share your information with third
            parties for marketing purposes, as permitted by law.
        </p>

        <p><strong>Interactions with Other Users:</strong></p>
        <p class="text-justify">
            If you interact with other users of the Site [and our mobile application], those users may see your name, profile
            photo, and descriptions of your activity, including sending invitations to other users, chatting with other users,
            liking posts, following blogs.
        </p>

        <p><strong>Content You Provide:</strong></p>
        <p class="text-justify">
            When you post comments, contributions or other content to the Site [or our mobile applications], your posts may be
            viewed by all users and may be publicly distributed outside the Site [and our mobile application] in perpetuity.
        </p>

        <p><strong>Third-Party Advertisers:</strong></p>
        <p class="text-justify">
            We may use third-party advertising companies to serve ads when you visit the Site [or our mobile application]. These
            companies may use information about your visits to the Site [and our mobile application] and other websites that are
            contained in web cookies in order to provide advertisements about goods and services of interest to you.
        </p>

        <p><strong>Affiliates:</strong></p>
        <p class="text-justify">
            We may share your information with our affiliates, in which case we will require those affiliates to respect this
            Privacy Policy. Affiliates include our parent company and any subsidiaries, joint venture partners or other
            companies that we control or that are under common control with us.
        </p>

        <p><strong>Business Partners:</strong></p>
        <p class="text-justify">
            We may share your information with our business partners to offer you certain products, services or promotions.
        </p>

        <p><strong>Other Third Parties:</strong></p>
        <p class="text-justify">
            We may share your information with advertisers and investors for the purpose of conducting general business
            analysis. We may also share your information with such third parties for marketing purposes, as permitted by law.
        </p>

        <p><strong>Sale or Mergers:</strong></p>
        <p class="text-justify">
            If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another entity, we may
            transfer your information to the successor entity. You acknowledge that such transfers may occur and that the
            transferee may decline honor commitments we made in this Privacy Policy.
        </p>

        <p class="text-justify"><strong>LawTrella is not responsible for the actions of third parties with whom you share
                personal or sensitive data, and we have no authority to manage or control third-party solicitations. If you no
                longer wish to receive correspondence, emails or other communications from third parties, you are responsible
                for contacting the third party directly.</strong></p>

    </section>
    
    <section class="pt-3">
        <h5>Cookies</h5>
        <p class="text-justify">
            Cookies are files with a small amount of data, which may include an anonymous unique identifier. Cookies are sent to
            your browser from a web site and stored on your computer's hard drive. Like many sites, we use "cookies" to collect
            information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent.
            However, if you do not accept cookies, you may not be able to use some portions of our Site.
        </p>

        <h5>Securities</h5>
        <p class="text-justify">
            You are responsible for safeguarding and preventing unauthorized access to the user information and password that
            you use to access our Services. You agree not to disclose your password to any third party and you are responsible
            for any activity using your account, whether or not you authorized that activity. Please immediately notify
            LawTrella of any unauthorized use of your account.
        </p>

        <p class="text-justify">
            LawTrella uses industry-standard security measures to secure your personal information from unauthorized access, use
            or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is
            protected through the use of encryption, such as the Secure Socket Layer (SSL) protocol. LawTrella regularly reviews
            its security measures to consider appropriate new technology and methods. Please be aware that, despite our efforts,
            no security measures are perfect or impenetrable. LawTrella retains your personal information for the length of time
            needed to fulfil the purposes outlined in this privacy policy unless a longer retention period is required or
            permitted by law.
        </p>
    </section>

    <section class="pt-5">
        <h4>OPTIONS REGARDING YOUR INFORMATION</h4>
        <p class="text-justify">
            You as a user may at any time review or change the information in your account or terminate your account by:
        </p>

        <ul list-style-type="disc">
            <li>Logging into your account settings and updating your account.</li>
            <li>Getting in touch with us using the contact information provided.</li>
        </ul>

        <p class="text-justify">
            Upon your request to terminate your account, we will deactivate or delete your account and information from our
            active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems,
            assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.]
        </p>

        <h5>Emails and Communications</h5>
        <p class="text-justify">
            If you no longer wish to receive correspondence, emails, or other communications from us, you may opt-out by:
        </p>

        <ul list-style-type>
            <li>Noting your preferences at the time you register your account with the Site [or our mobile application]</li>
            <li>Logging into your account settings and updating your preferences.</li>
            <li>Contacting us using the contact information provided below.</li>
        </ul>

        <p class="text-justify">
            If you no longer wish to receive correspondence, emails, or other communications from third parties, you are
            responsible for contacting the third party directly.
        </p>

        <h5>Changes To This Privacy Policy</h5>
        <p class="text-justify">
            This Privacy Policy is effective as of 01/07/2020 and will remain in effect except with respect to any changes in
            its provisions in the future, which will be in effect immediately after being posted on this page.
        </p>

        <p class="text-justify">
            LawTrella reserves the right to update or change our Privacy Policy at any time consequentially, it is imperative to
            check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the
            Privacy Policy on this page will constitute acceptance of the modifications and your consent to abide and be bound
            by the modified Privacy Policy.
        </p>

        <p class="text-justify">
            If we make any material changes to this Privacy Policy, we will notify you either through the email address you have
            provided us, or by placing a prominent notice on our website.
        </p>

        <h5>Contact Us</h5>
        <p class="text-justify">
            If you have any questions about this Privacy Policy or any of our products and services, you may contact us by email
            sent to <strong><em>support@lawtrella.com</em></strong> or by mail or hand-delivered letter to our registered address.
        </p>
    </section>

</main>

{{> footer}}