<footer class="page-footer sticky-bottom  font-small default-color pt-4">
  <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="">Contact</h5>
          <span><b>Email</b>: info@lawtrella.com</span>
          <span><b>Phone</b>: +234(0) 706 6475 316</span>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Terms and Conditions</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Terms of Use</a>
            </li>
            <li>
              <a href="#!">Disclaimer</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 mb-md-0 mb-3">
          <h5 class="text-uppercase">Social</h5>
          <div class="flex flex-row justify-content-between align-items-center">
            <i class="fab fa-facebook-f ml-2"></i>
            <i class="fab fa-twitter ml-2"></i>
            <i class="fab fa-instagram ml-2"></i>
          </div>
        </div>
      </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://lawtrella.com"> Lawtrella</a>
  </div>

</footer>