<input value="{{email}}" id="clientEmail" type = "hidden" />
<input value="{{displayName}}" id="displayName" type = "hidden" />
<input value="{{phoneNumber}}" id="phoneNumber" type = "hidden" />
<input value="{{uid}}" id="uid" type = "hidden" />