<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> {{title}} : Lawtrella Course </title>
    {{>core-links}}
    <link rel="stylesheet" href="{{ABS_PATH}}stylesheets/landing.css">
    
</head>
<body>

<style>
    .checked {
        color: orange;
    }
</style>
<style>

.shadow-text{
  text-shadow: .5em .5em 10px rgba(0,0,0, .45);
  background-color: rgba(0, 0, 0, .45);
  padding: 10px
}

#promoForm{
  max-width: 700px;
  
}
</style>

{{>courses-navbar}}
<section class = "mt-4 mb-0">
     <nav class="navbar navbar-expand-lg navbar-light default-color">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-angle-down"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <h5 class = "nav-link" id="enroll-status">Progress: <span id = "progress"></span>% Complete</h5>
                    </li>
                    {{#mcleVerified}}
                        <li href = "#" class="nav-item">
                            <span class = "badge badge-success">
                            <i class="fas fa-star pr-2"></i> MCLE Certified
                            </span>
                        </li>
                    {{/mcleVerified}}
                    <li id = "certButton" class="nav-item invisible">
                        <h5 class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><button class = "btn lt-btn-accent-outline w-100"><i class="fas fa-trophy"></i>Get Certificate</button>
                        </h5>
                        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
                            aria-labelledby="navbarDropdownMenuLink-55">
                            <a class="dropdown-item"  onclick = "downloadCert(true)" >
                            <button class = "btn btn-default btn-expand w-100">Download Certificate</button>
                            </a>
                            
                            {{^mcleVerified}}
                                <a class = "dropdown-item" id = "paymcleButton"  class="btn lt-btn-secondary d-none disabled" >
                                    <button class = "btn btn-success btn-expand w-100"><i class="fas fa-award"></i>
                                    GETMCLE Certificate</button>
                                </a>
                            {{/mcleVerified}}
                        </div>
                    </li>
                    
                </ul>
            </div>
        </nav>       
</section>
<section class="banner jumbotron lt-soft-bg mt-0">
    <div class="container p-3 pt-0">
        
        <div class="row">
            <div class="col-md-12">
                <a class="btn btn-sm my-4" href="/e-learning/courseList"><i class="fas fa-arrow-left"></i>Back to Course List</a>
                <hr width="100" align="left"/>

                <h3 class="text-white shadow-text" data-aos="fade-right" data-aos-duration="1500">{{title}}</h3>
                <hr width="100" align="left"/>
                <p class="text-muted">
                    <span class = "white-text shadow-text">Modules</span> : 
                    
                    <span class="pl-2 white-text shadow-text" id="numberRated">{{count}}</span>
                </p>
            </div>
            

        </div>
    </div>
</section>

<main class="container pt-3">
    
        <div>
            <section class="mb-5">
                <input type = "hidden" id = "courseId" value = "{{courseId}}"/>
                <h4 data-aos="zoom-out" data-aos-duration="1000">About Course</h4>
                <hr width="100" align="left"/>

                <p class="text-justify">
                    {{description}}
                </p>
            </section>

            <section class="mb-3" id="course-outline">
                <h4 data-aos="zoom-out" data-aos-duration="1000">Outline</h4>

                <ul class="list-group list-group-flush" id = "contents">
                    <li class="list-group-item d-flex flex-row justify-content-between">
                        <div>
                            <h5>Lesson One<h5>
                            <small class = "small font-weight-light secondary-text">Module</small>
                        </div>
                        <div class = "d-flex flex-row justify-content-between align-items-center">
                            <button data-toggle= "tooltip" title = "Edit Content" class = "btn btn-primary" onclick = "editContent('${i}')"><i class = "fa fa-play"></i></button>
                            <i class = "fa fa-check green"></i>
                        </div>
                    </li>
                </ul>
            </section>
        </div>

        <div class="modal fade" id="lessonModal" tabindex="-1" role="dialog" aria-labelledby="lessonModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/y881t8ilMyc" frameborder="0" allowfullscreen></iframe>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="videoPreviewModal" data-backdrop = "static" tabindex="-1" role="dialog" aria-labelledby="videoPreviewModal"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h4 class = "text-center ml-3" id = "videoCourseTitle"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <video id = "videoPreview" class="video-fluid z-depth-1" autoplay  controls controlsList="nodownload">
                    
                    </video>
                </div>
                <div class="modal-footer">
                    <button id = "nxtBtn" type="button" class="btn btn-danger hidden" onclick = "nextContent()">Next</button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="quizModal" data-backdrop = "static" tabindex="-1" role="dialog" aria-labelledby="videoPreviewModal"
            aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 title = "quizModalTitle ml-3">Lawtrella Course Quiz</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-5">

                        <h4 class = "m-3" id = "quizQuestion"></h4>
                        <form id = "quizForm" class = "p-5 ml-5">
                            <input type = "hidden" name = "id" id = "quizId"/>
                            <div = id ="quizOptions">                    
                                <div class="custom-control custom-checkbox mb-3 p-2">
                                    <input type="checkbox" class="custom-control-input" id="defaultIndeterminate2" checked>
                                    <label class="custom-control-label is-invalid" for="defaultIndeterminate2">Default indeterminate</label>
                                    <span class = "invalid-feedback">Incorrect Answer</span>
                                </div>
                                <div class="custom-control custom-checkbox mb-5 p-2">
                                    <input type="checkbox" class="custom-control-input" id="defaultIndeterminate2" checked>
                                    <label class="custom-control-label" for="defaultIndeterminate2">Default indeterminate</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-5 p-2">
                                    <input type="checkbox" class="custom-control-input" id="defaultIndeterminate2" checked>
                                    <label class="custom-control-label" for="defaultIndeterminate2">Default indeterminate</label>
                                </div>
                            </div>
                            <div class = "d-flex flex-row justify-content-between">
                            <button  id = "answerButton" class = "btn lt-btn-accent mt-3" type = "submit">ANSWER</button>
                            </div>

                            
                        </form>
                        
                    </div>
                    <div class="modal-footer">
                         <button id = "quizNxtBtn" type="button" class="btn btn-danger hidden" onclick = "nextContent()">Next</button>
                    </div>
                </div>
            </div>
        </div>

        {{! Further REading modal }}
    <div class="modal fade" id="furtherReadingsModal" tabindex="-1" role="dialog" aria-labelledby="futherReadingModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="furtherReadingsModal">Further Readings</h5>
          </div>
          <div class="modal-body">
            <p id =  "furtherReadingtitle" class="text-justify"></p>
            <button id = "urlButton">
                <i class = "fa fa-link m-2"></i>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn lt-btn-secondary" onclick = "nextContent()">Next</button>
          </div>
        </div>
      </div>
    </div>
  
    {{! Wait REading modal }}
    <div class="modal fade white" id="waitModal" tabindex="-1" role="dialog" aria-labelledby="waitModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="waitModal">Wait</h5>
          </div>
          <div class="modal-body">
           <i class = "fa fa-clock fa-3X"></i>
            <p id =  "waitModalTitle" class="text-justify">You have exceeded your attempts for this quiz you have to wait one (1) hour to try again</p>
            <p><strong>Hours Remaining</strong> <span id = "hoursRemaining" >8</span></p>
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss = "modal" class="btn btn-danger">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    {{! MCLE modal }}
    <div class="modal fade" id="mcleModal" tabindex="-1" role="dialog" aria-labelledby="mcleModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ml">Pay for MCLCE Certificate</h5>
          </div>
          <div class="modal-body text-center">
           <i class="fas fa-award fa-4x"></i>
            <p id =  "mcleTitle" class = "mt-2 mb-5">Pay for an MCLE Certificate at 1500</p>
            <button id = "mcleButton" type = "button" class = "btn btn-lg lt-btn-secondary disabled">Pay 1,100</button>
          </div>
         
        </div>
      </div>
    </div>
   

    {{!Congrats Modal }}
    <div class="modal fade white" id="congratsModal" tabindex="-1" role="dialog" aria-labelledby="waitModal"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         
          <div class="modal-body">
           <div id = "" class = " d-flex flex-column  justify-content-between align-items-center p-5">
                <h2 class = "py-3">Congratulations!</h2>
                <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_fixmre.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                <p class = "pl-2 text-center">Congratulations on completing your Lawtrella Course</p>

                <button id = "congDownloadCert" type = "button" onclick = "downloadCert(true)" class = "btn lt-btn-accent btn-expand">Download Certificate</button>
                <button id = "congMCLEButton" type = "button"  class = "btn lt-btn-secondary disabled">GET MCLCE Certificate</button>
            </div>
        </div>
      </div>
    </div>



</main>

{{>userdata}}
{{>footer-new}}
<input type = "hidden" id = "courseTitle" value = "{{title}}"/>
<input type = "hidden" id = "author" value = "{{author}}"/>

 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>

      {{! Core Nippet Javascript includes }}
   {{> core}}
      <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-storage.js"></script>

  <!-- Add Firebase products that you want to use -->
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
  {{! select2 }}
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

<div class="modal fade" id="lessonModal" tabindex="-1" role="dialog" aria-labelledby="lessonModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="{{ABS_PATH}}js/libraries/accounting.js"></script>
<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/elearning/course-content.js"></script>

</body>
</html>