<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawtrella: Online Legal Services</title>
    <!--Bootstrap Core-->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ABS_PATH}}stylesheets/e-learning.css">
  
</head>
<body>

    {{> courses-navbar}}
    <section class="hero d-flex flex-column justify-content-center">
            <div class="ml-5 p-5 cta">
                <h1 class>Affordable Courses for Everyone</h1>
                <p>Advance your carrer, acquire  skills for the modern work force with lawtrella courses from the best minds in their fields</p>
                <select id = "searchCourse" class="browser-default custom-select" name="state">
                    <option value = "" disabled selected>Search Courses</option>
                </select>
            </div>
    </section>

    <section class="p-5">
        <h3 class = "mb-4">Top Courses</h3>
        <div class = "row" id = "courses">
           
            <div class="col-md-4">
                <div class="card placeholder h-100 shadow mt-1" data-aos="zoom-out" data-aos-duration="400">
                    <div class="view overlay">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title placeholder"></h4>
                        <p class = 'placeholder card-text'></p>
                        <button class = "btn placeholder"></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card placeholder h-100 shadow mt-1" data-aos="zoom-out" data-aos-duration="400">
                    <div class="view overlay">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title placeholder"></h4>
                        <p class = 'placeholder card-text'></p>
                        <button class = "btn placeholder"></button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card placeholder h-100 shadow mt-1" data-aos="zoom-out" data-aos-duration="400">
                    <div class="view overlay">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title placeholder"></h4>
                        <p class = 'placeholder card-text'></p>
                        <button class = "btn placeholder"></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-5">
        <h2 class = "mb-4">Categories</h2>
        <div class = "row m-4" id = "categoriesTab">
            <div class = "col-md-3 course-category d-flex flex-row justify-contentcenter"><span class = "category-item active"> Law</span></div> 
            <div class = "col-md-3 course-category d-flex flex-row justify-contentcenter"><span class = "category-item"> Family Law</span></div> 
            <div class = "col-md-3 course-category d-flex flex-row justify-contentcenter"><span class = "category-item"> Ip Matter</span></div> 
            <span class = "col-md-3 course-category d-flex flex-row justify-contentcenter"></span> 
        </div>
        <div class = "row" id = "categories" >
           <div class="col-md-4">
                <div class="card placeholder h-100 shadow mt-1" data-aos="zoom-out" data-aos-duration="400">
                    <div class="view overlay">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title placeholder"></h4>
                        <p class = 'placeholder card-text'></p>
                        <button class = "btn placeholder"></button>
                    </div>
                </div>
            </div>
           <div class="col-md-4">
                <div class="card placeholder h-100 shadow mt-1" data-aos="zoom-out" data-aos-duration="400">
                    <div class="view overlay">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title placeholder"></h4>
                        <p class = 'placeholder card-text'></p>
                        <button class = "btn placeholder"></button>
                    </div>
                </div>
            </div>
           <div class="col-md-4">
                <div class="card placeholder h-100 shadow mt-1" data-aos="zoom-out" data-aos-duration="400">
                    <div class="view overlay">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title placeholder"></h4>
                        <p class = 'placeholder card-text'></p>
                        <button class = "btn placeholder"></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class = "p-5">
        <div class="row justify-content-center create-course">
            <div class="col-md-6 align-items-center">
                <div class="">
                    <img data-aos-duration="1000" data-aos="zoom-in-up" class='lt-feature-image' src="{{ABS_PATH}}images/macbookcreate.png">
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <div class="p-5">
                    <h1 class = "mt-3 lt-light-text" style = "width: 60%">Create your own course</h1>
                    <p>Are you an expert in an area of specialization looking to share your knowledge with a broader audience? Submit your application to start sharing with lawtrella</p>
                    <a href = "/e-learning/create"class = "btn btn-lg lt-btn-secondary">CREATE COURSE </a>
                </div>
            </div>
            
        </div>
    </section>

    {{>userdata}}

   
    {{>footer-new}}
  


  

  <!--Lawyer Login Modal -->
  <div class="modal fade" id="lawyerLoginModal" tabindex="-1" role="dialog" aria-labelledby="Lawyer/ Signup"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-tabs justify-content-center" id="lawyerMyTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link lt-link-bold active" id="lawyer-login-tab" data-toggle="tab" href="#lawyerLogin" role="tab" aria-controls="lawyerLogin"
                    aria-selected="true">LOGIN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link lt-link-bold" id="lawyer-signup-tab" data-toggle="tab" href="#lawyerSignup" role="tab" aria-controls="lawyerSignup"
                    aria-selected="false">SIGN UP</a>
                </li>
            </ul>
              <div class="tab-content" id="lawyerMyTabContent">
                <div class="tab-pane fade show active" id="lawyerLogin" role="tabpanel" aria-labelledby="lawyer-login-tab">
                    
                    <form id = "lawyerLoginForm" class="border border-light p-5" action="#!">
                
                        <p class="h4 mb-5">Log In As Lawyer</p>
                        <p id = "lawyerloginError" class = "error valid">Username already exists</p>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name = "email" id="lawyerLoginEmail" class="form-control mb-4" required>
                            <div class = "invalid-feedback">
                                email is invalid
                            </div>
                        </div>

                        <div>
                            <div class="invalid-feedback">password is invalid</div>
                            <label for="password">Password</label>
                            <input name = "password" type="password" id="lawyerLoginPassword" class="form-control mb-4">
                        </div>
                        

                        <div class = "d-flex flex-column justify-content-center">
                            <a class = "lt-link ml-2 small"  href="#">Forgot password?</a>
                            <button class = "btn lt-btn-accent mt-3" id = "lawyerLoginButton" type = "submit">LAWYER LOGIN</button>
                        </div>
                                       
                    </form>
                </div>
                <div class="tab-pane fade" id="lawyerSignup" role="tabpanel" aria-labelledby="lawyer-signup-tab">
                    <form id = "lawyerRegisterForm" class="border border-light p-5" action="#!">
                
                        <p class="h4 mb-5">Sign Up As a Lawyer</p>
                        <p id = "lawyersignupError" class = "error valid">Username already exists</p>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" id="lawyerSignupEmail" name = "email" class="form-control mb-4" required>
                            <div class = "invalid-feedback">
                                email is invalid
                            </div>
                        </div>
                
                        <div>
                            <label for="name">Full Name</label>
                            <input  name = "name" type="name" id="lawyerSignupPassword" class="form-control mb-4">
                        </div>
                        
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id = "lawyerSignupTerms">
                            <label class="custom-control-label" for="lawyerSignupTerms">I have read and agree to the <a class = "lt-link" href = "#terms">Terms and Conditions</a> of Lawtrella</label>
                        </div>
                        <div class = "d-flex flex-column justify-content-center">
                            <button  id = "lawyerSignupButton" class = "btn lt-btn-accent mt-3 disabled" type = "submit">SIGN UP AS LAWYER</button>
                        </div>
                                    
                    </form>
                 </div>
                
              </div>
              <div id = "lawyerSignupComplete" class = "signup-success d-flex flex-column  justify-content-center p-5">
                <h2 class = "pl-2">Check your Mail</h2>
                <lottie-player src="{{ABS_PATH}}/assets/lottiefile.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                <p class = "pl-2">Thank you for signing up to Lawtrella check your inbox to verify your email</p>
                <button id = "lawyerGotIt" type = "button" onclick = "dismiss('signup')" class = "btn lt-btn-accent btn-expand">Got It</button>
            </div>
        </div>
      </div>
    </div>
  </div>
 
  <!-- Client Modal -->
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login/Signup"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
     
        <div class="modal-body">
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link lt-link-bold active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login"
                    aria-selected="true">LOGIN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link lt-link-bold" id="signup-tab" data-toggle="tab" href="#signup" role="tab" aria-controls="signup"
                    aria-selected="false">SIGN UP</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                    <form id = "clientLogin" class="border border-light p-5" >
                        <p class="h4 mb-4">Log In</p>
                        <p id = "loginError" class = "error valid">Username already exists</p>
                        <div class= "mb-4">
                            <label for="email">Email</label>
                            <input id = "loginEmail" name = "email" type="email"  class="form-control" required>
                        </div>
                        <div class = "mb-4">
                            <label for="password">Password</label>
                            <input id = "loginPassword" name = "password" type="password"  class="form-control">
                        </div>
                        <div class = "d-flex flex-column justify-content-center">
                            <a class = "lt-link ml-2 small" data-toggle = "modal" href="#forgotModal">Forgot password?</a>
                            <button  id = "clientLoginButton" class = "btn lt-btn-accent mt-3" type = "submit">LOGIN</button>
                        </div>
                        
                        <hr width = "100%"/>
                        <div class="d-flex flex-column text-center justify-content-center">
                            <p class = "lt-link">Are you a Lawyer? Login Here Instead</p>
                            <button type = "button" id = "toggleLawyerLogin" class = "btn lt-btn-secondary">LAWYER LOGIN</button>
                        </div>                
                    </form>
                </div>
                <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                    <form id = "clientRegisterForm" class="border border-light p-5" ">
                
                        <p class="h4 mb-4">Sign Up</p>

                        <p id = "signupError" class = "valid error"></p>
                
                        <div class = "mb-4">
                            <label for="email">Email</label>
                            <input id = "emailError" name = "email" type="email"  class="form-control" required>
                            <div  class = "invalid-feedback">
                                email is invalid
                            </div>
                        </div>
                
                        <div class = "mb-4">
                            <label for="password">Full Name</label>
                            <input id = "passwordError" name = "name" type="text"  class="form-control">
                            
                        </div>
                        
                        <div class="custom-control custom-checkbox">
                            <input id = "terms" name = "terms" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="terms">I have read and agreed to the <a class = "lt-link" href = "#termsnan">Terms and Conditions</a> of Lawtrella</label>
                        </div>
                        <div class = "d-flex flex-column justify-content-center">
                            <button id = "clientSignupButton" class = "btn lt-btn-accent mt-3 disabled" type = "submit">SIGN UP</button>
                        </div>
                        
                        <hr width = "100%"/>
                        <div class="d-flex flex-column text-center justify-content-center">
                            <p class = "lt-link-bold">Are you a Lawyer? Sign up Here Instead</p>
                            <button type = "button" id = "toggleLawyerSignup"   class = "btn lt-btn-secondary">LAWYER SIGNUP</button>
                        </div>                
                    </form>
                </div>
            </div>
            <div id = "signupComplete" class = "signup-success d-flex flex-column  justify-content-between align-items-center p-5">
                <h2 class = "pl-2">Check your Mail</h2>
                <lottie-player src="{{ABS_PATH}}/assets/lottiefile.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                <p class = "pl-2">Thank you for signing up to Lawtrella check your inbox to verify your email</p>
                <button id = "gotrecover" type = "button" onclick = "dismiss('signup')" class = "btn lt-btn-accent btn-expand">Got It</button>
            </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Recover Modal -->
  <div class="modal " id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="Recover Password"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id = "recoverComplete" class = "recover-success d-flex flex-column  align-items-center justify-content-center p-5">
                <h2 class = "pl-2">Check your Mail</h2>
                <lottie-player src="{{ABS_PATH}}/assets/lottiefile.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;" loop autoplay></lottie-player>
                <p class = "pl-2">Follow the prompt on your mail to reset your password</p>
                <button id="gotsignup" type = "button" onclick = "dismiss('recover')" class = "btn lt-btn-accent btn-expand">Got It</button>
            </div>
            <form id = "recoverForm" class="border border-light p-5" >
                <p class="h4 mb-4">Log In</p>
                <p id = "recoverError" class = "error valid">Username already exists</p>
                <div class= "mb-4">
                    <label for="email">Email</label>
                    <input id = "recoverEmail" name = "email" type="email"  class="form-control" required>
                </div>
            
                <div class = "d-flex flex-column justify-content-center">
                    
                    <button  id = "recoverButton" class = "btn lt-btn-accent mt-3" type = "submit">RECOVER</button>
                </div>              
            </form>
        </div>
      </div>
    </div>
  </div>

  




  






    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>

      {{! Core Nippet Javascript includes }}
   {{> core}}
     <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
   <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-storage.js"></script>
    
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-firestore.js"></script>
    <script src="{{ABS_PATH}}js/libraries/accounting.js"></script>

  <script src="{{ABS_PATH}}js/auth.js"></script>
  <script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
  <script src="{{ABS_PATH}}js/lawyer/lawyerScript.js"></script>
  <script src="{{ABS_PATH}}js/client/clientScript.js"></script>
  <script src="{{ABS_PATH}}js/eLearning/courses.js"></script>
 

</body>
</html>