<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title> {{title}} </title>
    {{>core-links}}
    <link rel="stylesheet" href="{{ABS_PATH}}stylesheets/landing.css">
    
</head>
<body>

<style>
    .checked {
        color: orange;
    }
</style>
<style>
.banner{
  background-image: url({{{courseImage}}});
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
.shadow-text{
  text-shadow: .5em .5em 10px rgba(0,0,0, .45);
  background-color: rgba(0, 0, 0, .45);
  padding: 10px
}

#promoForm{
  max-width: 700px;
  
}
</style>

{{>courses-navbar}}

<section class="banner jumbotron default-color mt-0">
    <div class="container p-3">
        <div class="row">
            <div class="col-md-8">
                <p><a class="white-text shadow-text" href="/e-learning">&larr; Back to e-Learning Portal</a></p>
                <h3 class="text-white shadow-text" data-aos="fade-right" data-aos-duration="1500">{{courseTitle}}</h3>
                <hr width="100" align="left"/>
                <p class="text-muted">
                    <span class = "white-text shadow-text">Course Rating</span> : 
                    
                    <span class="pl-2 white-text shadow-text" id="numberRated"><em>{{rating}}</em></span>
                </p>
            </div>
            <div class="col-md-4 p-1">
                <button class="btn white text-muted" >
                    <h6 class="text-success" id="price">Price</h6>
                    <hr class="m-0" />
                    <h5 id="enroll-status">{{{price}}}</h5>
                </button>

            </div>
        </div>
    </div>
</section>

<main class="container pt-3">
    <div class="row">
        <div class="col-md-8">
            <section class="mb-5">
                <h4 data-aos="zoom-out" data-aos-duration="1000">About Course</h4>
                <hr width="100" align="left"/>

                <p class="text-justify">
                    {{{description}}}
                </p>
            </section>

            <section class="mb-3" id="course-outline">
                <h4 data-aos="zoom-out" data-aos-duration="1000">Outline</h4>

                <ul class="list-group list-group-flush">
                    {{{contentList}}}
                </ul>
            </section>
            
            <section id="course-checjout">
                <form method = "GET" action ="{{ABS_PATH}}e-learning/courseDetails" id = "promoForm" class = "mb-5">
                    <div class="card h-100 shadow mt-1" data-aos="zoom-out" data-aos-duration="1000">
                         <input type = "hidden" name = "courseId" value = "{{courseId}}">
                         <input type = "hidden" name = "id" value = "{{courseId}}">
                         <input type = "hidden"  name = "price" value = "{{newprice}}" />
                        <div class="card-body">
                            {{#wrongcode}}
                            <div class="d-flex flex-column text-center justify-content-center">
                                <button type = "button"    class = "btn btn-danger py-3 disabled" style = "font-size: 16px">WRONG PROMO CODE APPLIED</button>
                            </div>
                            {{/wrongcode}}
                            {{#code}}
                            <div class="d-flex flex-column text-center justify-content-center">
                                <button type = "button"    class = "btn btn-success py-3 disabled" style = "font-size: 16px"><i class = "fa fa-check pr-2"></i> PROMO CODE APPLIED</button>
                                <input id = "promoCode" name = "promoCode" type="hidden"  value = "{{code}}">
                            </div>
                            {{/code}} 
                            {{^code}}
                                <h4 class="card-title mt-3">Do you have a Promo Code</h4>
                                <input id = "promoCode" name = "promoCode" placeholder = "Enter Promo Code" type="text"  class="form-control mb-3 mt-5">
                                <button id = "promoButton" type = "submit" class = "btn lt-btn-secondary mb-5">APPLY</button>
                                <h4 class = "card-title mb-3">Order Preview</h4>
                                <p>{{title}}</p>
                            {{/code}}
                            <ul class="list-group mt-3">
                                <li class="list-group-item"><b>Course Title</b>: {{courseTitle}}</li>
                                <li class="list-group-item"><b>Price</b>:  {{{oldprice}}}</li>
                                <li class="list-group-item"><b>Discount</b>: {{discount}}</li>
                                <li class="list-group-item"><b>Final Price</b>:  {{{newpricevalue}}}</li>
                            </ul>
                        </div>
                        
                        <div class="d-flex flex-column text-center justify-content-center">
                            <button type = "button" id = "enrollButton" onclick = "enroll(this, '{{price}}')"   class = "btn lt-btn-accent py-3">ENROLL NOW</button>
                        </div> 
                    </div>
                </form>
               
            </section>


        </div>

        <div class="col-md-4">
            <div class="border">
                <ul class="list-group-flush">
                    <li class="list-group-item">
                        <div class="md-v-line"></div><i class="fas fa-laptop mr-4 pr-3"></i> Self paced course
                    </li>
                    <li class="list-group-item">
                        <div class="md-v-line"></div><i class="fas fa-video mr-5"></i> Video Lessons
                    </li>
                    <li class="list-group-item">
                        <div class="md-v-line"></div><i class="fas fa-language mr-5"></i>  Quizzes
                    </li>
                    <li class="list-group-item">
                        <div class="md-v-line"></div><i class="fas fa-certificate mr-5"></i> Certificate of Completion
                    </li>
                </ul>
            </div>
            <div class = "border p-4">
                <h4>Course By: {{author}}</h4>
                <p>{{authorDetails}}</p>
            </div>

        </div>

        {{! MODALS SECTION }}
        <div class="modal fade" id="lessonModal" tabindex="-1" role="dialog" aria-labelledby="lessonModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/y881t8ilMyc" frameborder="0" allowfullscreen></iframe>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>

</main>

<div class="h-25"></div>

 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>

      {{! Core Nippet Javascript includes }}
   {{> core}}
     <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
   <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-storage.js"></script>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


{{> footer-new}}

 {{> login}}
    {{>userdata}}

  
<script src="{{ABS_PATH}}js/libraries/form2js.js"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="{{ABS_PATH}}js/libraries/accounting.js"></script>
<script src="{{ABS_PATH}}js/lawyer/lawyerScript.js"></script>
<script src="{{ABS_PATH}}js/client/clientScript.js"></script>
<script src="{{ABS_PATH}}js/auth.js"></script>
<script src="{{ABS_PATH}}js/elearning.js"></script>
<script src="{{ABS_PATH}}js/libraries/rating.js"></script>
</body>
</html>